[2020-09-13 17:59] 24 opened #2 "黑果，打开没反应。哪有日志可以看看？"

[2020-09-13 19:00] SukkaW opened #3 "[feature] new dropdown menu design"
Show info through dropdown menu instead of showing every element inside menu bar.

[2020-09-14 00:09] findyy99 commented on #2
Big Sur pb1 也打不开

[2020-09-14 00:24] gao-sun commented on #2
我去尝试展示一下错误日志

[2020-09-14 00:26] gao-sun commented on #3
Do you mean an aggregated drop down view for all info?

[2020-09-14 06:00] lhang opened #4 "runtime error in Mac mini"
### environment:
macOS: 10.15.6
hardware: Mac mini (2018)
Xcode: Version 11.5

### error log:
[code]

[2020-09-14 07:20] bg4hkq opened #5 "启动后没反应"
baoz@baozMBP  ~  /Applications/eul.app/Contents/MacOS/eul
⚙️ loaded data from user defaults {
  "activeComponents" : [
    "CPU",
    "Fan",
    "Memory",
    "Battery",
    "Network"
  ],
  "temperatureUnit" : "celsius",
  "textDisplay" : "compact",
  "language" : "zh-Hans",
  "availableComponents" : [

  ]
}
2020-09-14 15:19:28.708 eul[10553:661079] It's not legal to call -layoutSubtreeIfNeede

[2020-09-14 07:20] bg4hkq commented on #5
Catalina 10.15.6 (19G2021)

[2020-09-14 07:36] bg4hkq commented on #5
等了好久出来了菜单，但是点菜单反应超级慢，不知道是哪里卡住了。后台再没更多日志。

[2020-09-14 07:56] gao-sun commented on #5
感谢反馈，我debug一下

[2020-09-14 07:56] gao-sun commented on #4
我稍后debug一下

[2020-09-14 12:52] SukkaW commented on #3
Yeah.

[2020-09-15 01:56] gao-sun commented on #3
Cool idea, added to roadmap

[2020-09-15 02:35] gao-sun commented on #5
https://github.com/gao-sun/eul/releases/latest

请尝试下载最新版看是否能解决问题，如果仍然存在还麻烦提供一下电脑型号

[2020-09-15 02:35] gao-sun commented on #4
https://github.com/gao-sun/eul/releases/latest

请尝试下载最新版看是否能解决问题

[2020-09-15 02:36] gao-sun commented on #2
https://github.com/gao-sun/eul/releases/latest

请尝试下载最新版看是否能解决问题

[2020-09-15 03:49] missdeer commented on #5
相同问题，最近版一样。
10.15.6, 2017 款 iMac

[2020-09-15 06:32] findyy99 commented on #2
@gao-sun `2020-09-15 14:31:02.913 eul[2757:202140] It's not legal to call -layoutSubtreeIfNeeded on a view which is already being laid out.  If you are implementing the view's -layout method, you can call -[super layout] instead. Break on void _NSDetectedLayoutRecursion(void) to debug.  This will be logged only once.  This may break in the future.`
仍然不行。

[2020-09-15 08:02] bg4hkq commented on #5
问题依旧，MacBook Pro (13-inch, 2020, Four Thunderbolt 3 ports)

[2020-09-15 12:33] gao-sun commented on #5
好的我去尝试找到电脑复现一下

[2020-09-15 13:06] gao-sun commented on #2
好的，我去尝试复现一下

[2020-09-15 13:19] 24 commented on #2
@gao-sun

2020-09-15 21:17:16.600 eul[3168:53224] It's not legal to call -layoutSubtreeIfNeeded on a view which is already being laid out.  If you are implementing the view's -layout method, you can call -[super layout] instead. Break on void _NSDetectedLayoutRecursion(void) to debug.  This will be logged only once.  This may break in the future.
[1]    3168 illegal hardware instruction  /Applicat

[2020-09-15 15:51] gao-sun commented on #2
@findyy99 @24 这个提示似乎是 SwiftUI 自身的原因，我在本地 Xcode 没能复现。

刚升级了 Big Sur ，复现了 crash 问题并已修复。烦请再次下载新版 (v1.0.4) 尝试。

[2020-09-15 15:55] gao-sun commented on #2
本地采用 1.0.3 版已复现 crash 的情况，1.0.4 应该没问题了

[2020-09-15 15:56] gao-sun commented on #5
已经复现问题并修复，本地测试 OK，还烦请下载 1.0.4 版本尝试

[2020-09-15 16:24] gao-sun opened #6 "Component re-ordering does not work in Big Sur"
TO-DO: use single status bar item

[2020-09-16 04:39] findyy99 commented on #2
@gao-sun 可以了，只是稍稍感觉图标有点占地方，可不可以添加一个整合的图标的设置？

[2020-09-16 05:12] missdeer commented on #5
10.15.6, 2017 款 iMac, 1.0.4
[code]

[2020-09-16 05:25] bg4hkq commented on #5
我这边测试问题依旧，但等一分钟左右能出来界面，鼠标hover到界面上就转菊花

[2020-09-16 06:56] missdeer commented on #5
找到出错的代码行了：

https://github.com/gao-sun/eul/blob/9b890d725d4fa540497e17a8e4e4afd6e5fe10d2/eul/Utilities/Info.swift#L43

在Xcode里跑起来会报`Double value cannot be converted to Int because it is either infinite or NaN`，这行改掉就好了

[2020-09-16 07:17] gao-sun commented on #2
@findyy99 没问题，已经在现代计划里了

[2020-09-16 07:19] gao-sun commented on #5
@bg4hkq 我和你的电脑型号一样，没有遇到你的情况，有些奇怪
@missdeer 非常感谢！我去改一下

[2020-09-16 07:24] gao-sun commented on #2
@24 我看到还有 `[1] 3168 illegal hardware instruction` 的问题，这个可能是不同硬件导致的，可能有些难调试

[2020-09-16 10:46] gao-sun commented on #5
1.0.6 已更新，解决了这个问题

[2020-09-16 10:49] gao-sun commented on #4
@lhang :
@missdeer helped me to find out the root of this issue and it has been resolved in 1.0.6. would you mind to download the new version and try again? thanks

[2020-09-16 11:35] gao-sun opened #7 "[feature] use an aggregated status bar item instead of spreading into several"

[2020-09-16 11:35] gao-sun opened #8 "[feature] choose what to display in status bar for each component"

[2020-09-17 05:46] lhang commented on #4
it works! 👍

[2020-09-17 16:17] #4 closed

[2020-09-18 06:06] bg4hkq commented on #5
复测，1.0.6版本，问题依旧，界面出来之后无法操作，一直转圈圈。
会不会是取api.github.com的时候卡住了？

[2020-09-18 06:37] gao-sun commented on #5
@bg4hkq 有可能，我断网情况下试试，感谢反馈

[2020-09-20 15:57] gao-sun commented on #3
just released a new version, please try v1.1

[2020-09-20 15:57] #3 closed

[2020-09-20 15:57] #7 closed

[2020-09-20 16:01] #6 closed

[2020-09-20 16:03] gao-sun opened #9 "[feature] top CPU/network process"

[2020-09-20 17:03] SukkaW commented on #3
Yeah!

[2020-09-21 13:26] missdeer opened #10 "希望可以自定义刷新间隔时间"
比如我希望网速刷新快一点

[2020-09-21 13:44] rubengarciam opened #11 "Zip file name is prone to browser malware errors"
Browsers like Chrome might think that the downloaded release is a malware file and would suggest the user to discard it.

<img width="422" alt="Screen Shot 2020-09-21 at 11 42 42 pm" src="https://user-images.githubusercontent.com/2044827/93774209-574fd400-fc64-11ea-93bd-8d9475eea817.png">

[2020-09-23 17:17] gao-sun commented on #11
interesting, will try to eliminate this error or provide installation via brew cask

[2020-09-23 17:18] gao-sun commented on #10
added in roadmap

[2020-09-24 07:23] 24 commented on #2
@gao-sun 没事，黑果，如果出现这个应该正常把。

[2020-09-24 07:25] 24 commented on #2
<img width="356" alt="Screen Shot 2020-09-24 at 3 25 09 PM" src="https://user-images.githubusercontent.com/1859160/94113904-2c3ecd80-fe7a-11ea-90a7-c9d6acb6b505.png">
xi新版本完全可以了。
厉害，

[2020-09-24 07:25] #2 closed

[2020-09-25 12:53] gao-sun commented on #2
@24 我看到有一些读不到的数据（风扇和电池），我去做一下优化

[2020-09-25 17:54] 24 commented on #2
@gao-sun
电池读不到，是因为，我这是nuc 台式机，
风扇的话， 那个 iStat 也读不到风扇数据，这个风扇感觉不好弄
:)

[2020-10-01 14:26] gao-sun commented on #11
According to https://support.google.com/webmasters/thread/23193211 there's nothing I can do for now. hopefully it will be fixed in ~48hrs after release.

[2020-10-01 14:27] gao-sun commented on #10
added time interval settings in v1.1.1

[2020-10-01 14:27] #10 closed

[2020-10-06 14:34] gao-sun opened #12 "[bug] network speed is incorrect after connected to VPN"

[2020-10-10 16:44] jememouse opened #13 "网速的数字变动会影响任务栏上的内容。"
是否可以修复一下，比如预留一个较大的位置给数字。以免数字变动带来的抖动。

[2020-10-13 14:29] gao-sun commented on #13
added to roadmap

[2020-10-20 01:39] XaoflySho opened #14 "建议：对于没有电池的机型，隐藏电池模块"
对于没有电池的机型，隐藏电池模块。如：iMac、Mac Pro等

[2020-10-20 03:44] gao-sun commented on #14
added to roadmap

[2020-10-20 03:45] gao-sun commented on #13
please try the latest release and close the issue if looks good

[2020-10-20 03:45] #9 closed

[2020-10-20 05:33] HsiangHo opened #15 "Hope install from Mac App Store"
Hope it can be released on Mac App Store  :)
Don't let some people steal your awesome work.

[2020-10-20 05:46] gao-sun commented on #15
Unfortunately it won't pass the review due to SMC access :-(

[2020-10-20 05:52] HsiangHo commented on #15
You can just try to remove some features for MAS and submit this app to review.
I think this app is much better than other similar apps.
Awesome UI.

[2020-10-20 07:20] crownzdp commented on #15
hope install from home-brew

[2020-10-20 07:21] crownzdp opened #16 "Support menu view components organizing"

[2020-10-20 09:51] gao-sun commented on #15
@HsiangHo thank you, will try!

[2020-10-20 09:52] gao-sun commented on #15
@crownzdp sure, will add to homebrew cask

[2020-10-20 09:52] gao-sun commented on #16
added to roadmap

[2020-10-20 21:33] Rawnly opened #17 "macOS Big Sur Widget"
It would be super cool having it as macOS Big Sur widget!

[2020-10-21 02:27] SinCheung opened #18 "CPU usage is getting higher"
As the usage time increases, the CPU usage of the app also continues to increase.
![image](https://user-images.githubusercontent.com/3352888/96665602-d6314d00-1387-11eb-8095-8d469c650b8b.png)

[2020-10-21 03:42] XaoflySho commented on #14
我尝试添加了一下这个功能，提交了一个新的Pull request。

[2020-10-22 06:24] #14 closed

[2020-10-22 15:06] gao-sun commented on #13
closing for the completion of milestone, feel free to open a new one if the issue still exists

[2020-10-22 15:06] #13 closed

[2020-10-22 15:29] gao-sun opened #21 "CPU temp is lower than macs fan control"

[2020-10-22 15:34] gao-sun opened #22 "Install via Homebrew Cask"

[2020-10-22 15:37] gao-sun opened #23 "AppStore version"
remove SMC calls and other "violations" to pass the review

[2020-10-22 20:59] ahmetskilinc opened #24 "Don't launch the app window on login"
It would be a lot better if the app window didn't launch at login, only the menubar item launched on its own.

[2020-10-22 21:25] korziee commented on #18
Beautiful app, but CPU usage for eul was regularly at 100% for around 5 minutes for me straight after installing.

[2020-10-23 03:27] gao-sun commented on #22
Homebrew/homebrew-cask#91294

[2020-10-23 03:41] gao-sun opened #25 "Disk usage"

[2020-10-23 03:52] XaoflySho commented on #24
I modified this function and I have submitted a new Pull request.

[2020-10-23 03:53] XaoflySho commented on #16
I added this feature and have submitted a new Pull request.

[2020-10-23 16:38] gao-sun commented on #23
submitted for review

[2020-10-24 13:08] gao-sun commented on #12
hard to debug

[2020-10-24 13:08] gao-sun commented on #11
Homebrew/homebrew-cask#91294

[2020-10-25 02:39] #11 closed

[2020-10-25 02:40] gao-sun commented on #11
now you can install via `brew cask install eul`. let me know if you have any concerns

[2020-10-25 02:42] #22 closed

[2020-10-25 02:50] gao-sun commented on #24
please try v1.3

[2020-10-25 02:50] #24 closed

[2020-10-25 02:50] gao-sun commented on #16
please try v1.3

[2020-10-25 02:50] #16 closed

[2020-10-25 02:57] gao-sun commented on #23
https://apps.apple.com/us/app/eul/id1537133867

[2020-10-25 02:57] #23 closed

[2020-10-25 02:58] gao-sun commented on #15
@HsiangHo https://apps.apple.com/us/app/eul/id1537133867
@crownzdp `brew cask install eul`

[2020-10-25 02:58] #15 closed

[2020-10-25 02:59] gao-sun commented on #18
Taking a look now

[2020-10-25 02:59] gao-sun commented on #18
@SinCheung @korziee would you mind to provide your system version and device info? thanks

[2020-10-25 03:03] gao-sun commented on #18
also, it'll be great to run with `--debug` option and see past a snippet of output here. say you have eul in `/Applications` folder, then open terminal and run `/Applications/eul.app/Contents/MacOS/eul --debug`

[2020-10-25 03:10] SinCheung commented on #18
MacBook Pro (15-inch, 2019) 10.15.6 (19G2021)

[2020-10-25 12:01] CavalloneChen opened #30 "Display battery charging status"
Alter the battery icon based on charger connection.

[2020-10-25 12:06] AlecRust opened #31 "CPU Graph"
This project looks great, would love to replace iStat Menus with it!

The main thing I use from iStat Menus is the CPU graph in the menu bar. I don't see this in the screenshots for Eul, are there any plans to add this?

When I click the graph in the menu bar it opens a dropdown with the highest CPU at the top:

![screenshot](https://i.imgur.com/dSqaBZp.png)

[2020-10-25 13:37] oregonpillow opened #32 "Installed successfully via brew...click to open....NOTHING?!"
Doesn't open after successful installation. No error messages. Am I missing something? On MacOS 10.15.6

[2020-10-25 17:34] ShivamJoker commented on #17
Do we have widget for Catalina ?

[2020-10-25 23:17] oregonpillow commented on #32
It starts eventually just takes a really long time.

[2020-10-25 23:17] #32 closed

[2020-10-26 06:47] zhqu1148980644 commented on #18
nettop 总是占用130% 多的cpu

[2020-10-26 08:26] gao-sun commented on #30
It should have a flashlight on the button if is charging. But no icon for AC adapter as the power source. will add

[2020-10-26 13:56] crownzdp opened #34 "net speed unit should be in uppercase?"

[2020-10-26 14:43] gao-sun commented on #18
Noticed `nettop` has weird behaviors when running in background. Will change soon

[2020-10-26 14:44] gao-sun opened #35 "Replace pipe with one-off execution for `nettop` to avoid potential high CPU usage"

[2020-10-26 14:54] gao-sun commented on #18
please try to uncheck "Show network top activities" and see if helps, will replace `nettop` soon

![image](https://user-images.githubusercontent.com/14722250/97188158-2a9c5880-17de-11eb-8c74-554d3576dfed.png)

[2020-10-26 15:09] gao-sun commented on #34
please try v1.3.2

[2020-10-26 15:24] haohanyang opened #38 "Battery charging icon does not respond simultaneously when its status changes"
There is seconds-long latency in the battery icon status response. It would be better if the icon changes immediately after the charging status alters

[2020-10-26 15:31] haohanyang commented on #38
I wonder if there is some even emitter mechanism under the hood of Cocoa development

[2020-10-26 15:35] gao-sun commented on #38
sounds cool, will do some investigation

[2020-10-26 16:12] zhqu1148980644 commented on #18
Actually, I have no chance to set this option as nothing appears after I opened this program, only my mac's fans whirring.

version: 11.0 Beta (20A5384c)

[2020-10-27 01:08] gao-sun commented on #18
strange. I'll publish a new version to disable top activities by default

[2020-10-27 01:16] gao-sun commented on #32
it's unusual. would you mind to uncheck network top activities and relaunch the app to see if it goes better? a potential high CPU usage caused by `nettop` has been reported.

also, it'll be great to run with `--debug` option and see past a snippet of output here. say you have eul in `/Applications` folder, then open terminal and run `/Applications/eul.app/Contents/MacOS/eul --debug`

[2020-10-27 01:24] gao-sun commented on #18
please remove `~/Library/Preferences/com.gaosun.eul.plist` and try v1.3.3 to see if it works. I'll replace `nettop` soon (#35)

[2020-10-27 03:21] haohanyang commented on #8
want to have a try

[2020-10-27 08:31] qeude opened #40 "The status bar components doesn't keep the same position after reboot"
If you put change the position of the status bar components then restart your Mac, then the status bar components goes at the extreme left of the status bar.
Which involve hiding it with app as [Dozer.](https://github.com/Mortennn/Dozer)

[2020-10-28 01:15] gao-sun commented on #40
thanks for reporting, will take a look before next release

[2020-10-28 05:29] wangsijie opened #43 "满电时显示99%"
![image](https://user-images.githubusercontent.com/5717882/97396153-786da980-1921-11eb-99b1-2eaf8d5be645.png)

与系统显示的数值有所不同

[2020-10-28 11:02] gao-sun commented on #43
will take a look tonight

[2020-10-28 13:07] gao-sun commented on #43
super busy today, will take a look by the end of this week

[2020-10-29 13:36] gao-sun commented on #34
close for issue management, feel free to create a new one if you have any questions

[2020-10-29 13:36] #34 closed

[2020-10-29 14:23] gao-sun commented on #40
cannot reproduce in Big Sur, would you mind to provide your device and OS info?

[2020-10-29 14:48] gao-sun commented on #38
according to [this post](https://stackoverflow.com/q/51275093/12514940) it seems there's no macOS equivalent to [batteryStateDidChangeNotification](https://developer.apple.com/documentation/uikit/uidevice/1620052-batterystatedidchangenotificatio). maybe you can set SMC refresh rate to 1s for a quicker responding

![Uploading image.png…]()

[2020-10-29 15:01] qeude commented on #40
I experienced this bug using eul on macOS Catalina v10.15.7 on an iMac 27" 2019.
I'm running eul 1.3.1, and experienced this today.
As I said, I'm using [Dozer.](https://github.com/Mortennn/Dozer) which may be the problem.

[2020-10-29 15:11] gao-sun commented on #40
Yeah I tried to hide eul using Dozer and logout/login but cannot reproduce - will try on Catalina if possible

[2020-10-29 15:15] gao-sun commented on #43
尝试了没有复现，如果方便的话可以升级到 v1.3.4 后通过 --debug 选项来看看电池相关的输出

say you have eul in `/Applications` folder, then open terminal and run `/Applications/eul.app/Contents/MacOS/eul --debug`

[2020-10-29 16:30] xukai92 opened #47 "Fixed width while not using monospace fonts"
Is there way to fix the width of the component?
When the font is not monospace, the width slightly changes each time the stats refresh, which is a bit annoeying.

[2020-10-29 22:58] YeungKC commented on #40
When I update the widget position it also refreshes the position.

[2020-10-30 03:07] gao-sun commented on #47
noticed that, you can try v1.3.4 for trailing aligned texts which may look "fixed". let me know if it doesn't help

[2020-10-30 05:57] YeungKC opened #48 "Add cpu frequency related data"

[2020-11-01 07:38] wangsijie commented on #43
thanks, maybe I will reopen when this happens again.

[2020-11-01 07:38] #43 closed

[2020-11-02 12:44] gao-sun commented on #17
@ShivamJoker I'm afraid we don't

[2020-11-07 12:22] #17 closed

[2020-11-07 12:22] #25 closed

[2020-11-07 12:22] #30 closed

[2020-11-07 12:40] gao-sun commented on #47
please try v1.4 for a even better experience. close this issue for now feel free to re-open if the new version doesn't help

[2020-11-07 12:40] #47 closed

[2020-11-07 12:41] gao-sun commented on #38
closing this issue. let me know if you have any ideas/concerns

[2020-11-07 12:41] #38 closed

[2020-11-07 12:54] gao-sun commented on #17
please try v1.4. Will add more widgets and some configs, e.g. color theme, display style, etc.

[2020-11-07 13:02] gao-sun opened #53 "German translation for widgets"
@akeschmidi would you mind to update [German translation for widgets](https://github.com/gao-sun/eul/blob/master/Resource/de.lproj/Localizable.strings#L142-L151) when convenient? Thanks!

[2020-11-07 13:03] gao-sun opened #54 "Spanish translation for widgets"
@JesusM @kant would you mind to update [Spanish translation for widgets](https://github.com/gao-sun/eul/blob/master/Resource/es.lproj/Localizable.strings#L142-L151) when convenient? Thanks!

[2020-11-07 13:04] gao-sun opened #55 "Russian translation for widgets"
@JiLiZART  would you mind to update [Russian translation for widgets](https://github.com/gao-sun/eul/blob/master/Resource/ru.lproj/Localizable.strings#L142-L151) when convenient? Thanks!

[2020-11-07 13:06] gao-sun opened #56 "Configurable widgets"
- Provide some color presets
- Customize text/percentage

[2020-11-07 13:08] gao-sun opened #57 "Reuse widget views in dropdown menu view"

[2020-11-07 13:09] gao-sun opened #58 "Show storage usage per disk and recognize external devices"

[2020-11-07 13:22] JiLiZART commented on #55
Yep

[2020-11-07 13:24] #55 closed

[2020-11-07 13:26] crownzdp opened #60 "在设置里面点击几下左边工具栏会闪退"

[2020-11-07 14:29] gao-sun commented on #60
tried to click the left tabs multiple times but cannot reproduce. would you mind to provide your device and OS info?

[2020-11-07 14:51] crownzdp commented on #60
mbp 16inch - macOS 10.15.7

[2020-11-07 14:58] crownzdp commented on #60
this is gif : https://sm.ms/image/OM7sSuCRp4wnDcK

[2020-11-08 03:44] gao-sun commented on #60
taking a look

[2020-11-08 05:17] ricky-wong opened #63 "Top network utilization processes"
Can we get network utilization by process and show the top users? Thank you!

[2020-11-08 07:16] gao-sun commented on #63
We do have this feature but it's disabled by default due to some potential performance issue in `nettop` (#18 #35)

You can still try it, please go Preferences -> Menu View and check "Show network top activities"

Let me know if you have any questions

[2020-11-08 07:51] JesusM commented on #54
Here you have:
[code]

Let me know if you want me to raise a PR with ^

[2020-11-08 10:24] gao-sun commented on #54
@JesusM that's enough. thanks!

[2020-11-08 11:33] gao-sun opened #64 "Status item disappears when width doesn't fit"

[2020-11-08 12:31] gao-sun commented on #64
https://github.com/feedback-assistant/reports/issues/37

thinking about a user-friendly way to handle this

[2020-11-08 18:29] ricky-wong commented on #63
I was looking for such a setting before I opened this issue, but I couldn't find it. 🤔
![image](https://user-images.githubusercontent.com/704713/98481164-4116bc80-21ad-11eb-90d9-6742bbc00b30.png)

[2020-11-08 20:10] kcmannem opened #65 "Show load average in CPU section"
Load average is a pretty important stat I look other than just cpu %. It'd be a nice to have.

[2020-11-09 02:58] gao-sun commented on #63
please try v1.4. looks like auto-update doesn't get the right response

[2020-11-09 02:58] gao-sun commented on #63
https://github.com/gao-sun/eul/releases/tag/v1.4

[2020-11-09 03:00] gao-sun commented on #65
sure

[2020-11-09 04:43] #54 closed

[2020-11-09 04:43] #64 closed

[2020-11-09 07:09] ricky-wong commented on #63
Nice, thanks

[2020-11-09 07:09] #63 closed

[2020-11-09 08:46] romanhaa opened #67 "Bring free/used memory and storage in the same order"
Hi there,

this is a nice tool, thanks for developing it! I noticed that, at least for me, the free/used parts of memory and storage are not in the same order, which can be a little confusing. That is, the free memory is shown on top of the used memory, but for storage the "free" part is shown underneath the used storage. It would be nice if this could be put into the same order, possibly with a s

[2020-11-09 08:59] rfuehrer opened #68 "Release 1.4.1 crashes silently"
Version 1.4.1 crashes without warning when switching between the areas in the settings (excerpt; no idea which elements are relevant for error analysis; i filtered the console log for "eul").

Affected systems: MacBook Pro, iMac27, both with Catalina 10.15.7

[code]

[2020-11-09 09:30] someblu commented on #68
I met the same crash when switching tabs in the settings UI. The dump files can be found here [eul_crash.zip](https://github.com/gao-sun/eul/files/5509427/eul_crash.zip)

[2020-11-09 09:58] Tealk opened #69 "Battery status of bluetooth devices"
Hello,

would it be possible to display the battery status of the Bluetooth?

[2020-11-09 10:21] reputati0n commented on #60
version:1.4.1
my device: MBP 13 2020 macOS 10.15.7
the problem is still

[2020-11-09 10:28] gao-sun commented on #60
will take a look on Catalina tonight

[2020-11-09 11:42] gao-sun commented on #67
sure thing. thank you for your feedback

[2020-11-09 11:42] gao-sun commented on #68
taking a look tonight

[2020-11-09 11:42] gao-sun commented on #69
yes

[2020-11-09 13:45] #53 closed

[2020-11-09 14:16] gao-sun commented on #68
@rfuehrer thanks for your info
@someblu thanks, super helpful. would you mind let me know how to export these crash files thus I can write up in issue template?

have to admit I laughed when I see the "precondition failure" keyword. it's a "classical" bug according to my experience when using SwiftUI in iOS and Google results ([link1](https://developer.apple.com/forums/thread/133958) [link2](https

[2020-11-09 14:19] gao-sun commented on #67
just swapped order in `v1.4.2` and will try to make it configurable in `v1.5`

[2020-11-09 14:20] gao-sun commented on #60
please try `v1.4.2`, closing it since duplicate. please track this issue in #68

[2020-11-09 14:20] #60 closed

[2020-11-09 14:23] romanhaa commented on #67
Excellent, works like a charm! Thanks a lot :)

[2020-11-09 14:23] #67 closed

[2020-11-09 14:27] Metis77 commented on #68
still crashing for me. v1.4.2 MacOS 10.15.7

[2020-11-09 14:30] gao-sun commented on #68
@Metis77 thanks. I'll find a Catalina MacBook for debugging. give me few more days. stay tuned. cheers

[2020-11-09 14:41] rfuehrer commented on #68
same here: iMac27 and MacBook Pro with Catalina still crashing

[2020-11-09 14:42] crownzdp commented on #68
is it ok in Big Sur?

[2020-11-09 14:43] crownzdp commented on #68
is it ok in Big Sur？

[2020-11-09 14:45] gao-sun commented on #68
give me few more days for a debugging MacBook

works for me in 13' and 15' MacBook Pro

[2020-11-09 14:46] rfuehrer opened #73 "First status bar click not recognized"
After starting the application, the first click on the icon of the status bar is not accepted. Only the second click opens the application. The problem exists in versions 1.4.1 and 1.4.2.

For clarification I have recorded the behaviour as video.

![eul_first_click](https://user-images.githubusercontent.com/25303664/98556304-31799f80-22a3-11eb-9484-a80420960a5d.gif)

[2020-11-09 14:57] gao-sun commented on #73
yes I noticed that as well. will try to fix. thanks

[2020-11-09 15:21] gao-sun commented on #73
found the issue. fixing in next relase https://github.com/gao-sun/eul/pull/74

[2020-11-10 02:10] someblu commented on #68
@gao-sun open `~/Library/Logs/DiagnosticReports/` and you'll find them right there. Or open`console.app` and click `Crash Reports`.

[2020-11-10 02:18] someblu commented on #68
@gao-sun still crashes, 16' MacBook Pro, MacOS 10.15.7 and Eul 1.4.2. Here is the latest dump file. [eul_2020-11-10-101439.crash.zip](https://github.com/gao-sun/eul/files/5514393/eul_2020-11-10-101439.crash.zip)

[2020-11-10 10:17] DominikYumpu opened #75 "Network doesn't work"
It always stays at 0 (up and down). Version from AppStore. MacOS 10.15.7, MacBook Pro (15-inch, 2017)

[2020-11-10 10:21] #75 closed

[2020-11-10 10:21] DominikYumpu commented on #75
it's just in the appstore version

[2020-11-10 13:28] gao-sun commented on #75
yes i found that issue too. currently I don't have time to maintain the app store version. please use GitHub version if you don't mind

[2020-11-10 13:29] gao-sun commented on #68
@someblu will borrow a Catalina macbook for debugging. stay tuned

[2020-11-10 13:38] gao-sun opened #76 "Power consumption"
1. double check if eul costs too much
2. disable status fetching during sleep

[2020-11-10 15:21] jbwzrd213 opened #77 "Crash when clicking into the Menu View preference pane"
When opening the preferences and then trying to click into the Menu View pane, the app crashes.

OS: 10.15.7 Catalina
Mid-2014 15" MacBook Pro
2.5 GHz Quad-Core Intel Core i7

[2020-11-10 17:59] tikkerei commented on #77
Same issue with Menu View in Preferences

[code]

[2020-11-11 00:52] wuxiaoqiang12 opened #78 "Could you change battery life time from min to hour and min?"
As the title shown, just min is little confusing.

[2020-11-11 00:55] wuxiaoqiang12 commented on #77
Same issue:
OS: 10.15.7
MacBook Pro 16" 2019(Basic model)
2.6Ghz 6-core i7
16GB RAM

[2020-11-11 09:45] benbender commented on #76
Hey,

just to give some feedback: Yes, power consumption jumped between 0.8 and 5 with EUL enabled. Additionally the kernel-log was flooded with msgs like:

[code]

The spikes on the following graph are originating from EUL and vanishing as soon as I stop it:

![power-draw3](https://user-images.githubusercontent.com/462455/98795429-7ec45100-240a-11eb-8089-0359f1866c9d.png)

I'm sorry to say that i

[2020-11-11 09:58] nathanrobb commented on #77
I get this too.

MacBook Air early 2015.
Eul version 1.4.2.

---
To Reproduce:

`General` -> `Components` : works
`General` -> `Components` -> `General` : crash
`General` -> `Components` -> `Main Menu` : crash

`General` -> `Main Menu` : works
`General` -> `Main Menu` -> `General` : crash
`General` -> `Main Menu` ->  `Components` : crash

[2020-11-11 10:41] Landflieger commented on #77
same problem her: Mac mini 2018, MacOS 0.15.7, eul 1.4.2

[2020-11-11 11:07] gao-sun commented on #77
taking a look tonight. possibly duplicate of #68

[2020-11-11 11:09] gao-sun commented on #76
thank you for detailed feedback. you are right. I'll take a look soon

[2020-11-11 11:09] gao-sun commented on #78
sure

[2020-11-11 13:47] itsnwa opened #79 "Fixed sizing for menu bar components"
First off, what a great app! Thank you so much for putting in the effort and releasing it to the public.

I noticed that the menu bar components are changing size based on it's content, which leads to a lot of jumping.
Would be nice to have a fixed size for each component, and if possible, the ability to change the spacing between them in the settings.

[2020-11-11 16:02] #73 closed

[2020-11-11 16:02] #78 closed

[2020-11-11 16:06] gao-sun commented on #79
thanks. that would be a great idea. just updated [v1.4.3](https://github.com/gao-sun/eul/releases) for a less "jumpy" experience. will add fixed size option in the future

[2020-11-11 16:07] gao-sun commented on #77
please try [v1.4.3](https://github.com/gao-sun/eul/releases)

[2020-11-11 16:07] gao-sun commented on #68
please try [v1.4.3](https://github.com/gao-sun/eul/releases)

[2020-11-11 16:43] jbwzrd213 commented on #77
Seems to be fixed for me. Thank you!

[2020-11-11 16:47] jbwzrd213 commented on #40
Not sure if this is the same issue, but the position always resets every time I run the app (to the farthest left).

OS: 10.15.7 Catalina
Mid-2014 15" MacBook Pro
2.5 GHz Quad-Core Intel Core i7

[2020-11-11 16:49] tikkerei commented on #77
Fixed also by me.

[2020-11-11 17:03] itsnwa commented on #79
@gao-sun the build is missing from the release assets in v1.4.3

[2020-11-11 18:08] testpaul999 opened #80 "Cant see Fanspeed?"
Hello,

nice little Tool.
But can‘t see my Fan's.
![Bildschirmfoto 2020-11-11 um 19 04 58](https://user-images.githubusercontent.com/35597907/98847917-409e5000-2451-11eb-98c4-797167d9d4e7.png)

if I use HWMonitor I can see my Fan's.
![Bildschirmfoto 2020-11-11 um 19 05 56](https://user-images.githubusercontent.com/35597907/98847931-46943100-2451-11eb-975d-26aa3517a510.png)

Regards

[2020-11-11 18:20] Landflieger commented on #77
fixed for me

[2020-11-12 01:05] wuxiaoqiang12 commented on #77
Fixed for me. Thank you very much! Stay healthy and stay well.

[2020-11-12 01:22] Helloyunho opened #81 "[Feature] show top ram programs"
Checking top CPU programs and top network programs is pretty handy, but I think it could be better if it shows top ram programs also.

Any plans to add this?

[2020-11-12 01:26] applekillerbyjames opened #82 "1.4.3 only source code?"
Title.

There is no zip.

[2020-11-12 01:53] gao-sun commented on #82
sorry, just updated

[2020-11-12 01:54] gao-sun commented on #79
sorry, just updated

[2020-11-12 01:55] gao-sun commented on #80
thanks for feedback. will take a look

[2020-11-12 01:55] gao-sun commented on #81
absolutely

[2020-11-12 01:56] gao-sun commented on #77
thanks, you guys are amazing

[2020-11-12 01:56] #77 closed

[2020-11-12 01:57] gao-sun commented on #40
sounds strange. did not have the same experience when I was debugging in Catalina. will try to reproduce these days

[2020-11-12 02:37] someblu commented on #68
tested on my macbook pro, it doesn't crash any more. I think it has been fixed.

[2020-11-12 09:17] Nitinrajyadav commented on #76
+1
I'm also experiencing the same issue; `eul` is flagged as the 2nd most power consuming app after chrome, and the battery is getting drained much faster.

[2020-11-12 09:29] p-vernaeckt commented on #80
Same issue here, fan speed from eul are always 0.

[2020-11-12 13:33] #82 closed

[2020-11-12 13:34] gao-sun commented on #68
@rfuehrer would you mind to double check if this has been fixed in v1.4.3

[2020-11-12 13:35] gao-sun commented on #80
@p-vernaeckt this is an issue. will take a look

[2020-11-12 13:37] gao-sun commented on #80
@p-vernaeckt would you mind to double check if it's a "real" 0? Just in case. In the beginning of the development, I was doubting about the 0 as well and found the fan wasn't spin actually 😂

[2020-11-12 13:44] p-vernaeckt commented on #80
I checked using iStat Menus, it seems that eul's numbers are indeed correct!
I tested on a 13' 2020 MBP.

[2020-11-12 13:51] Metis77 commented on #68
no more crashes for me with 1.4.3

[2020-11-12 19:00] koenlek commented on #65
This would be really nice to have. Especially in the menu bar. The full menu could show the standard 3 load averages (1, 5 and 15 minutes), and the menu bar would prob show the 1 minute average (could be made configurable though?). To me, load averages give a much nicer signal of how heavy your system (cpu) is loaded than the cpu percentage (which is too noisy to me).

By the way, thanks for the g

[2020-11-12 22:09] rfuehrer commented on #68
everything fine with 1.4.3
- MacBook Pro Catalina 👍🏼
- iMac27 Catalina 👍🏼

[2020-11-13 03:52] gao-sun commented on #65
@koenlek thank you, really nice advice. absolutely will implement

[2020-11-13 03:52] gao-sun commented on #68
you guys are amazing

[2020-11-13 03:52] #68 closed

[2020-11-13 11:40] MackHarry opened #84 "very high cpu usage when eul runs"
When running eul on macOS big sur, I get very high cpu usages, as reported by activity monitor. CPU usage goes up to 42%, even 100% at times. This heats up the cpu quite a bit, and fans are permanently audibly working, and sadly renders eul unusable for me. Not sure what's going  on here, perhaps it has something to do with #35 ?

[2020-11-13 12:42] gao-sun commented on #84
Did you check “show network top activities”? That could be an issue as you said

[2020-11-13 12:45] arastu opened #85 "Network doesn't work"
Hi, thanks for creating this cool app, the network indicator always stays at zero (up and down), I'm using eul v1.4.3 on macOS Big Sur.

[2020-11-13 12:59] gao-sun commented on #85
currently active network device is auto-detected (which may have the error result I think) will try to provide manual selection in v1.5

[2020-11-13 15:37] Helloyunho opened #86 "[Bug] Program name is not showing properly"
I'm using Übersicht to display desktop widgets, and eul doesn't show the program name properly.
<img width="385" alt="image" src="https://user-images.githubusercontent.com/10192625/99089995-5f4b4500-2611-11eb-897c-36489d31d161.png">

[2020-11-13 22:30] joepetrillo opened #87 "Extremely High CPU Usage!"
<img width="1072" alt="Screen Shot 2020-11-13 at 5 25 08 PM" src="https://user-images.githubusercontent.com/32227357/99126965-3016e280-25d5-11eb-9ff6-586aeb3c501f.png">

Running on macOS Big Sur 11.0.1 (20B29)

Whenever eul is open, my cpu usage **spikes to 100%** (somehow 199% in screenshot) and stays there indefinitely.
Fans get super loud as a result.

[2020-11-14 03:13] mikield commented on #87
Can confirm on my machine too.

[2020-11-14 06:44] gao-sun commented on #87
@joepetrillo @mikield thanks for feedback. will take a look soon

[2020-11-14 06:45] gao-sun commented on #86
oh let me take a look

[2020-11-14 08:17] ioannis-ts commented on #21
From what I could check it seems that eul checks the CPU Proximity which seems to always be the same or 1 degree difference with Macs fan control.
On the other hand MacsFan control, temp for CPU cores and Core average is usually higher.

btw, this is a very nice tool!!

[2020-11-14 08:20] ioannis-ts commented on #87
same here, as @mikield  mentioned

[2020-11-14 17:32] AyoubOuarrak commented on #87
Same here on Big Sur 11.0.1 (late 2013 MacBook Pro)

<img width="302" alt="Screenshot 2020-11-14 at 18 32 31" src="https://user-images.githubusercontent.com/6084285/99153282-c3b8e380-26a7-11eb-8d98-e25401c0a4d3.png">

[2020-11-15 05:34] xeron opened #90 "[Feature] Show memory as usage percentage in the bar"
In single line text mode this will use much less space than 2 numbers for used / free.

[2020-11-15 13:39] gao-sun commented on #90
yes

[2020-11-15 13:46] gao-sun commented on #21
@ioannis-ts thanks, and yes, I think we can show more sensors info in the future. Rather than just CPU Proximity

[2020-11-15 22:15] gao-sun opened #92 "show CPU up time"

[2020-11-15 22:16] gao-sun opened #93 "GPU utilization"

[2020-11-16 02:39] sammichaels opened #95 "No GUI and no tray icon"
When starting the app, there is no GUI and no tray icon on both my iMac and MacBook Pro.  The widgets are responding and the app is in the process list, but nothing else.  It was working in the task tray except for sustained 4% CPU at all times so I unchecked the two top activities options and restarted.  When it came back, it was at just under 200% CPU.  Killed the process and now this problem.

[2020-11-16 20:51] htrung4 commented on #76
Me too, the same as everyone. It increase at least around 2-3W in power consumption, sometimes up to 6W, which is unacceptable in MacBook Pro 2018. Beautiful app anyway, hope you can fix this soon.

[2020-11-17 14:28] piotr-yuxuan opened #97 "Documentation / tooltip / readme additon"
Hello, thanks for this nice project! I've started to use it, it really is nice. However I'm having some quizzical time to figure out the difference between battery health, and battery condition?

[2020-11-18 03:34] gao-sun commented on #97
battery health is `max capacity / design capacity`, while battery condition is an enum value provided by system API

[2020-11-18 03:35] gao-sun commented on #97
besides these two wordings, what kind of docs would you want to add in readme?

[2020-11-18 03:36] gao-sun commented on #95
this is an issue. will take a look soon

[2020-11-18 03:39] gao-sun commented on #76
a quick update, I'm too busy on my daytime work these days, did not get a chance to take a look at this issue. I'll try tonight/tomorrow

[2020-11-18 03:52] gao-sun commented on #87
a quick update, I'm too busy on my daytime work these days, did not get a chance to take a look at this issue. I'll try tonight/tomorrow

[2020-11-18 03:54] gao-sun commented on #84
close for housekeeping. this is possibly duplicate of #87, let's track there. thank you for feedback and let me know if you have any concerns.

[2020-11-18 03:54] #84 closed

[2020-11-18 19:07] sammichaels commented on #95
To follow up, the iMac I was testing this on crashed overnight (no kernel panic log, no nothing...log just simply stopped and the machine was powered off in the morning) and was ignoring input after booting up.  After I finally got it working, eul was visible in the task bar again.  There was a message from Big Sur relating to the size of eul in the task bar, but I had accidentally dismissed it be

[2020-11-19 01:59] gao-sun commented on #95
thanks for your elaboration. from your text I guess it may have some issue with SMC/battery-related calls. would you mind to open `~/Library/Logs/DiagnosticReports/` and upload suspicious files here?

[2020-11-19 09:38] pstens commented on #76
Can confirm the issue running the latest version of `eul`.

I'm not sure if this helps in any way but here's a screenshot of `Activity Monitor`:

![tg_image_140738016](https://user-images.githubusercontent.com/9274319/99648362-400a4880-2a53-11eb-803e-03e17201c270.jpeg)

[2020-11-19 13:52] gao-sun commented on #76
hi guys, would you mind to provide your config of eul? would like to see if `Show network top activities` has been turned on

[2020-11-19 15:32] gao-sun commented on #76
added several improvements in [v1.4.4](https://github.com/gao-sun/eul/releases), please try and let me know if it helps

[2020-11-19 15:32] gao-sun commented on #87
added several improvements in [v1.4.4](https://github.com/gao-sun/eul/releases), please try and let me know if it helps

[2020-11-19 15:40] gao-sun opened #102 "v1.5"
### Features
- [x] CPU Graph #31
- [x] Replace pipe with one-off execution for `nettop` to avoid potential high CPU usage #35
- [x] Choose what to display in status bar for each component #8
- [x] Show memory as usage percentage in the bar #90
- [x] Show load average in CPU section #65
- [x] Provide option to hide from status bar #104
- [x] Provide option to choose which fan(s) to display

[2020-11-19 18:40] oscarbg commented on #93
+1

[2020-11-19 22:38] skarchmit opened #104 "Ability to hide from status bar"
I'm running bartender4 to hide menu items, but I get this every time I boot.
Can we disable this check?

![image](https://user-images.githubusercontent.com/8825870/99732663-ba979000-2a74-11eb-974e-d56582cfacfe.png)

[2020-11-20 00:27] benbender commented on #76
@gao-sun seems better now, but not ready yet. See the chart below. The spikes are there when EUL is running, while in the flat part of the graph I had it closed.

![eul](https://user-images.githubusercontent.com/462455/99740480-65d53300-2acf-11eb-92a9-aa1e7f96d5df.png)

[2020-11-20 01:36] gao-sun commented on #104
yes

[2020-11-20 11:18] spoergsmaal opened #105 "[Feature] Show external drives and eject buttons"
Love the software, and would love it even more if it could show my connected external drives, how much space is left on them, and an eject button next to each drive.

For example, [MenuBar Stats](https://www.seense.com/menubarstats/) does it [like this](https://i.imgur.com/FNBd9nz.png)

[2020-11-22 08:33] gao-sun commented on #105
yes

[2020-11-22 10:35] gao-sun commented on #76
thanks @benbender! this is what I've got when eul is running (a little bit lower than yours)
![image](https://user-images.githubusercontent.com/14722250/99901151-6e0bb900-2cef-11eb-9914-8541e452120b.png)

also, power consumption in activity monitor swings between 0.3~0.7 (mostly under 0.5):
![image](https://user-images.githubusercontent.com/14722250/99901182-ad3a0a00-2cef-11eb-8ddc-cbfa9f132cde.pn

[2020-11-22 13:25] bg4hkq commented on #5
v1.4.3复测好了。

[2020-11-22 13:25] #5 closed

[2020-11-24 07:26] SoeWaiYan opened #110 "Missing cool feature!"
It would be very nice to have  gpu indicator! .Btw, I really enjoy using this software and  new widgets thz for your effort.

[2020-11-24 08:07] xiaodang opened #111 "the battery [is charging] status is error"
env:
OS: macOS Big Sur 11.0.1 20B29 x86_64

pic:
![image](https://user-images.githubusercontent.com/7018239/100065729-1eec9200-2e6f-11eb-9b20-9adafb405fcb.png)

[2020-11-26 10:31] gao-sun commented on #111
since your battery level is 100% macOS will stop charging and use AC power as power source.

![image](https://user-images.githubusercontent.com/14722250/100339851-5bf28900-3015-11eb-9b2e-6653b7134d51.png)
![image](https://user-images.githubusercontent.com/14722250/100339860-601ea680-3015-11eb-92b4-3714108157f2.png)

It seems Big Sur doesn't differentiate this on icon. :-)

[2020-11-26 10:32] gao-sun commented on #110
absolutely! please track this in #93 - i'll close this one for housekeeping.

[2020-11-26 10:32] #110 closed

[2020-11-26 15:35] gao-sun commented on #90
please try v1.4.5

[2020-11-26 15:35] #90 closed

[2020-11-26 15:35] #8 closed

[2020-11-26 15:36] gao-sun commented on #31
please try v1.4.5 with status bar CPU/memory graph available. will add the graph in menu view soon

[2020-11-26 15:39] gao-sun commented on #18
I think another reason of this issue has been fixed in [this commit](https://github.com/gao-sun/eul/pull/99/commits/3a9918ee85badd5bac185f1ae1c69b814a32d75e), let me know if v1.4.5 works now. I'll close this issue for housekeeping if it has been fixed. thanks!

[2020-11-26 21:18] ioannis-ts commented on #87
seems to work fine for me. will update if again as now I have 1.4.5 running. nice

[2020-11-27 01:41] wangzhaoming opened #113 "The menubar icon reordered after restart"
The icon lose track of the menu bar position after app restart. It will always be placed at the left side and I need to drag it each time after a reboot.

[2020-11-27 02:19] xiaodang commented on #111
get it, thank you.

[2020-11-27 02:19] #111 closed

[2020-11-27 20:50] majuss commented on #21
https://github.com/kzlekk/HWSensors

Is the only thing that is showing the accurate CPU temperature. The temp reported bei eul is 40°C too low! A Mac throttles out at 100°C, but mine is never getting over 61 with eul. I guess eul is measuring the heatsink temperature not the CPU temp.

[2020-11-28 08:07] gao-sun commented on #113
possibly duplicate of #40. are you running eul in Catalina?

[2020-11-28 09:15] gao-sun commented on #48
quick update: realized it's not that easy to detect current CPU frequency, will try in v1.6

[2020-11-28 12:50] underwindfall opened #117 "bug report : can not sroll in components view"
# Context
- macOs Version **10.15.7 Catalina**
- eul verison **1.4.5**

# Description
After update to **1.4.5**,  the components menu is no longer able to scroll down anymore.

![image](https://user-images.githubusercontent.com/14819756/100515943-709f6000-3180-11eb-9935-e120f6701168.png)

[2020-11-28 16:06] Tr3pTr3p commented on #113
I've got the same problem. But I think it's a Big Sur issue, because after every restart my menu bar icons got mixed up.

[2020-11-28 18:46] Davedeji commented on #87
still somewhat having issues with this eul spikes to 50-65 percent cpu usage when idle (just in the menu bar updating). as soon as you click on the menu bar icon to show full stats, it drops to about 1-1.5 %. Using a MBP 16" 2019

[2020-11-30 01:39] wangzhaoming commented on #113
I am running Big Sur. And I found that the WeChat app got the same problem after I updated to Big Sur.

[2020-11-30 13:22] gao-sun commented on #113
interesting, I'm just using standard APIs for status item. will keep an eye on it

[2020-11-30 13:23] gao-sun commented on #117
taking a look

[2020-11-30 13:52] DasBlatz commented on #87
I see since v1.4.4. a lot of red  EUL (no response) in the activity monitor, same on v1.4.5. When I try to open the eul settings the app freezes and beach balling all the time, after 10-20 seconds, I can click again somewhere a beach balling happens again...
Was before better as I can remember

Another annoying thing after a reboot I see also a popup that "some parts of eul are hidden by the syste

[2020-11-30 14:04] gao-sun commented on #21
thanks! will take a look in this project

[2020-11-30 14:09] gao-sun commented on #87
@Davedeji @DasBlatz would you mind to use debug mode and paste some output here? say you have eul in `/Applications` folder, then open terminal and run

[code]

[2020-11-30 14:12] gao-sun commented on #87
@DasBlatz I have no macOS on M1 for now - I believe some parts of eul are not compatible with the new chip since some SMC calls may be hardware-sensitive. spent too much money these days (RTX 3080 & the new iPhone), will try to buy one in early next year (if get enough pay). stay tuned. cheers

[2020-11-30 14:28] gao-sun commented on #65
please try v1.4.6

[2020-11-30 14:28] gao-sun commented on #104
please try v1.4.6

[2020-11-30 14:31] gao-sun commented on #117
https://developer.apple.com/forums/thread/132809
seems a bug in SwiftUI. added back scroll indicator on Catalina in v1.4.6. please have a try.

[2020-11-30 16:21] Davedeji commented on #87
@gao-sun Here you go.

------------------------------------
⚙️ loaded data from user defaults preference {
  "smcRefreshRate" : 3,
  "textDisplay" : "compact",
  "temperatureUnit" : "celius",
  "fontDesign" : "default",
  "showNetworkTopActivities" : true,
  "networkRefreshRate" : 5,
  "showCPUTopActivities" : true,
  "language" : "en",
  "showIcon" : true
}
🔋 battery info 100 100 0 0 true false g

[2020-11-30 16:26] skarchmit commented on #104
It started to appear more often. (Used to just happen at launch, now even more frequent at random times)

[2020-11-30 20:05] underwindfall commented on #117
@gao-sun it seems like `brew` doesn't have find your version yet.  You need to push something or it'll updated it by it-self ?
![image](https://user-images.githubusercontent.com/14819756/100658417-4ea80800-334f-11eb-8c7d-09bbf92f1c93.png)

**BTW** also find it in `HomeCask` `github`, still not update it yet.
![image](https://user-images.githubusercontent.com/14819756/100658614-a8103700-334f-11eb-8

[2020-11-30 21:55] underwindfall commented on #117
Updated : homebrew updated its version
So **1.4.6** works like a charm. Bravo 👍 🍻

[2020-11-30 21:55] #117 closed

[2020-12-01 02:04] zxitedu opened #118 "Start when login cannot be checked"
Start when login cannot be checked ，By the way, can you speed up the acquisition of CPU usage process，Hope to optimize in time, thank you(无法勾选登录时启动，顺便在提一个建议，能不能优化一下获取CPU使用进程的速度，希望及时优化，谢谢)

[2020-12-01 02:05] zxitedu commented on #118
无法勾选登录时启动，顺便在提一个建议，能不能优化一下获取CPU使用进程的速度，希望及时优化，谢谢

[2020-12-01 02:18] zxitedu opened #119 "The EU status bar component is hidden by the system"
<img width="296" alt="iShot2020-12-01 10 14 33" src="https://user-images.githubusercontent.com/48445631/100688872-420ec880-33be-11eb-89f1-50a3cdff07b6.png">
When you open a full screen window without the above menu bar (such as the remote win system), such a prompt will appear. If you ignore the prompt, it will pop up all the time. I hope you can cancel this pop-up window. Thank you(在打开没有上面菜单栏的全屏窗

[2020-12-01 03:02] gao-sun commented on #104
![image](https://user-images.githubusercontent.com/14722250/100691894-a3d23100-33c4-11eb-8bcd-be129c1ae97f.png)

you need to uncheck "Check status item visibility" in preference panel

[2020-12-01 03:05] gao-sun commented on #117
thanks for detailed reply! I forgot to update homebrew cask last night haha. @ran-dall [helped me](https://github.com/Homebrew/homebrew-cask/pull/93910) to do it. actually you can do the same thing if you want - just update version number and sha256 hash will be good to go

[2020-12-01 03:06] gao-sun commented on #87
@Davedeji will take a look

[2020-12-01 11:23] gao-sun commented on #119
yes, will fix tonight

[2020-12-01 11:24] gao-sun commented on #118
screenshot/record?

[2020-12-01 16:21] gao-sun commented on #80
@testpaul999 double checked fan fetching it looks ok. would you mind to use `--debug` option to see if there any SMC error? say you have eul in `/Applications` folder, then open terminal and run

[code]

[2020-12-01 16:22] gao-sun commented on #80
![image](https://user-images.githubusercontent.com/14722250/100767202-73c27680-3434-11eb-89c0-0424101fb245.png)

also, you can see all available fans in v1.4.7, please have a try

[2020-12-01 16:53] gao-sun commented on #119
please try v1.4.7

[2020-12-01 17:08] gao-sun commented on #31
please try v1.4.7

[2020-12-01 17:24] testpaul999 commented on #80
I‘ll try ASAP

Viele Grüße

Jens-Uwe Franz

Am 01.12.2020 um 17:22 schrieb gao-sun <notifications@github.com>:

﻿

[image]<https://user-images.githubusercontent.com/14722250/100767202-73c27680-3434-11eb-89c0-0424101fb245.png>

also, you can see all available fans in v1.4.7, please have a try

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https

[2020-12-01 19:40] testpaul999 commented on #80
Hi,

Ok try the new version no fan!
Here the debug

Am 01.12.2020 um 17:22 schrieb gao-sun <notifications@github.com<mailto:notifications@github.com>>:

[image]<https://user-images.githubusercontent.com/14722250/100767202-73c27680-3434-11eb-89c0-0424101fb245.png>

also, you can see all available fans in v1.4.7, please have a try

—
You are receiving this because you were mentioned.
Reply to this e

[2020-12-02 01:58] zxitedu commented on #118
![image](https://user-images.githubusercontent.com/48445631/100818243-ae53ff80-3484-11eb-8024-ba92c1ff2861.png)
Is to optimize the speed of the acquisition process here(就是优化一下这里获取进程的速度)

[2020-12-02 07:50] wangzhaoming commented on #113
I think setting the `autosaveName` of `NSStatusItem` may help.

[2020-12-02 08:32] guohui-ma opened #121 "[bug]最新版Mac系统经常出现无响应的现象"
在最新版的系统上，程序时常无响应。

**Context**
 - eul version:1.4.7
 - macOS version: 11.0.1
 - Device model: Macbook Pro 16 2016

[2020-12-02 12:58] gao-sun commented on #121
please follow the instruction and paste debug output here

[2020-12-02 12:59] gao-sun commented on #113
@wangzhaoming sounds good, will have a try in the next version

[2020-12-02 13:18] gao-sun commented on #80
I think I found the error. trying to fix now

[2020-12-02 13:20] testpaul999 commented on #80
🤩

Viele Grüße

Jens-Uwe Franz

Am 02.12.2020 um 14:18 schrieb gao-sun <notifications@github.com>:

﻿

I think I found the error. trying to fix now

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/gao-sun/eul/issues/80#issuecomment-737224848>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AIPS4U5VFI2SS5TICO5

[2020-12-02 16:38] gao-sun commented on #97
close for housekeeping. feel free to re-open if you have further questions.

[2020-12-02 16:38] #97 closed

[2020-12-02 16:44] gao-sun commented on #113
please try v1.4.8, it should be good in Catalina now. I don't have Catalina MacBook handy so please let me know if it works. unfortunately it seems Big Sur has [a bug](https://github.com/feedback-assistant/reports/issues/151) on this so if you are on it you need to wait the fix from Apple

[2020-12-02 16:45] gao-sun commented on #40
guys sorry i totally misunderstood the point of this issue, so i was on the wrong track. :-)

please try v1.4.8, it should be good in Catalina now. I don't have Catalina MacBook handy so please let me know if it works. unfortunately it seems Big Sur has [a bug](https://github.com/feedback-assistant/reports/issues/151) on this so if you are on it you need to wait the fix from Apple

[2020-12-02 16:46] gao-sun commented on #80
please try v1.4.8 and let me know if it works

[2020-12-02 18:20] testpaul999 commented on #80
Great job, now it’s run.

[cid:105AC780-1C7E-439C-85B1-CE1BECDA16F0]

Thx for support

Am 02.12.2020 um 17:46 schrieb gao-sun <notifications@github.com<mailto:tions@github.com>>:

please try v1.4.8 and let me know if it works

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/gao-sun/eul/issues/80#issuecomment-737354249>, or uns

[2020-12-03 03:10] gao-sun commented on #80
glad it works!

[2020-12-03 03:10] #80 closed

[2020-12-03 07:28] koenlek commented on #65
Works like a charm. Thanks!!

[2020-12-03 18:30] mooxl commented on #119
Had the same problem, but after I updated to version 1.4.8, it was solved

[2020-12-04 12:24] zxitedu commented on #119
@gao-sun This problem still exists. When the Eul is set to boot, this window will pop up after the computer is restarted. I am using Mac OS Big Sur 11.0.1(这个问题依旧存在是在将eul设置为开机自启动后 重启电脑就会弹出这个窗口 我使用的是Mac OS Big Sur 11.0.1)

[2020-12-09 20:52] Oxeda opened #124 "[bug]? eul menu notification"
I tried searching for this notification but I didn’t find anything, it’s probably not a bug anyway.

this is the notification that pops up after every restart:
![Captura de Pantalla 2020-12-09 a la(s) 14 38 00](https://user-images.githubusercontent.com/7676526/101685821-d4057980-3a2d-11eb-9e93-f44d027f35e9.jpg)

This is how eul’s menu settings look:
![Captura de Pantalla 2020-12-09 a la(s) 14 40 5

[2020-12-10 03:19] gao-sun commented on #124
you are doing good i think. looks like a bug. will take a look

[2020-12-10 03:19] gao-sun commented on #119
taking a look

[2020-12-11 06:55] zhongjun96 opened #126 "[bug] Eul cannot run due to poor network?"
**Describe the Bug**

Eul does not work properly

**Expected Behavior**

**Screenshots**

`netstat` command run time too long?
![UTOOLS_1607669664896.png](https://i.loli.net/2020/12/11/zboniZvCAdyG9X6.png)
**Context**
 - eul version: 1.4.8
 - macOS version: macOS 11.0.1 (20B29)
 - Device model: MacBook Pro (16-inch, 2019)

**Debug Output**

[code]

[2020-12-11 06:58] zhongjun96 commented on #126
After switching the network, the `netstat` command runs normally and Eul works normally

![UTOOLS_1607669809393.png](https://i.loli.net/2020/12/11/SJkxMPCoAEBIWiX.png)

[2020-12-12 02:29] KnowsCount opened #127 "Can I install swiftUI or any prerequisite on Mojave?"
I just hope I can use this on my Mojave..
I am frankly quite afraid of updating to Catalina or Big Sur as many told me there would be hardship – Catalina updated security mechanism and everything. But this app apparently only support 1.15+ and I therefore cannot use it.
Or is there anyone who can convince me to update my OS? 🤣

[2020-12-12 14:53] gao-sun commented on #126
ah didn't expect this. will take a look

[2020-12-12 14:57] gao-sun commented on #127
hahaha Catalina & Big Sur are good (for me at least). I'm afraid there's no convenient to run SwiftUI apps on Mojave - the system doesn't have the framework and looks like Apple won't add support

[2020-12-13 00:18] KnowsCount commented on #127
OK... I go to big sur later then. BTW cool app!

[2020-12-13 00:28] #127 closed

[2020-12-15 07:34] shutter-cp opened #128 "[bug]CPU flashing, light background"
os ：11.0.1
eul: v1.4.8
Light color wallpaper
![屏幕录制2020-12-15-15 28 35](https://user-images.githubusercontent.com/37921589/102184808-06f6b400-3eeb-11eb-93bf-e64786c619c5.gif)

[2020-12-15 14:57] gao-sun commented on #128
ah, interesting. will take a look soon

[2020-12-19 07:52] gao-sun commented on #102
guys, too busy these days. got some time to breathe this weekend. stay tuned. cheers!

[2020-12-19 13:39] MeisterLampeMK commented on #113
on my Mac, Catalina 10.15.7, unfortunately, the configuration still does not work.

After each restart the icons are on the far left

[2020-12-20 10:27] ookangzheng commented on #121
Mine will be not responding on Big Sur with latest version

<img width="1188" alt="Screen Shot 2020-12-20 at 18 25 21" src="https://user-images.githubusercontent.com/6301735/102710927-fc745a00-42f0-11eb-96a7-4d7fdb63441e.png">

[2020-12-21 11:28] cfuentea opened #130 "[feature request] add privacy info at AppStore"
Hello! it would be great if you can add some privacy info (new Apple Policy) on the App Store on the Next Update!

[2020-12-21 15:24] #65 closed

[2020-12-21 15:25] gao-sun commented on #130
sure

[2020-12-21 22:45] ivyjsgit opened #131 "[bug] CPU Temperature appears far lower than in other temperature reporting software"
**Describe the Bug**
When running intensive software such as VMWare, the temperature in eul appears much lower than in other software such as Intel Power Gadget and Macs Fan Control. The computer is noticeably warm to the touch, but eul will say that it is 50 degrees C. This is caused by the CPU temperature being taken from the CPU proximity sensor, rather than the core average.

**Expected Behavi

[2020-12-21 23:33] ivyjsgit commented on #131
This is a duplicate of #21.

[2020-12-22 09:13] L-U-C-K-Y commented on #31
Hi all

Is this intended behavior on refresh?

![Kapture 2020-12-22 at 10 13 14](https://user-images.githubusercontent.com/14868134/102871120-4fa7f300-443e-11eb-97c2-83a49467cd2b.gif)

[2020-12-28 15:23] gao-sun commented on #35
found it hard to replace - trying another method instead

[2020-12-28 16:18] gao-sun commented on #31
@L-U-C-K-Y  this is not normal - please track the issue in #128.

closing for housekeeping

[2020-12-28 16:18] #31 closed

[2020-12-28 16:19] gao-sun commented on #102
I'm back. Cyberpunk 2077 fascinated me too much.

[2020-12-28 16:30] #102 closed

[2020-12-28 16:31] #35 closed

[2020-12-28 16:32] gao-sun commented on #104
close for house keeping. also please try the latest version for a better experience. feel free to open a new issue if you have any concerns

[2020-12-28 16:32] #104 closed

[2020-12-28 16:36] gao-sun commented on #124
please try v1.5. let me know if it doesn't help.

[2020-12-28 16:38] gao-sun commented on #128
could not reproduce on Big Sur + light theme but please try v1.5 for a potential try (changed gradient fill to solid color filling on path). let me know if it doesn't help.

[2020-12-28 16:39] gao-sun commented on #119
please try v1.5. let me know if it doesn't help.

[2020-12-28 16:41] gao-sun commented on #21
would you like to try v1.5 to see if it helps?

[2020-12-28 16:44] gao-sun commented on #58
duplicate of #105

[2020-12-28 16:44] #58 closed

[2020-12-28 16:46] gao-sun commented on #79
I believe now menu bar components are quite "fixed". close for house-keeping. feel free to create a new issue if the latest version doesn't help

[2020-12-28 16:46] #79 closed

[2020-12-28 16:49] gao-sun opened #134 "v1.6"
Back from hard work and night city. :-)

- [ ] <del>Add cpu frequency related data (hard) #48</del>
- [x] Show storage usage per disk and recognize external devices along with eject button #105
- [x] Battery status of bluetooth devices #69
- [x] Show top ram programs #81
- [x] GPU utilization #93
- [x] Provide manual network interface selection #85
- [x] Style Light and Dark independently from mac

[2020-12-28 16:51] gao-sun opened #135 "Update contributor list & language support"

[2020-12-28 22:49] Oxeda commented on #124
hello, yesss, it seems that update solved the problem, thank you very much :)

[2020-12-29 02:17] mmichon commented on #128
v1.5 is still flashing for me, at least in dark mode (auto-set after sunset).
On Dec 28, 2020, 8:38 AM -0800, gao-sun <notifications@github.com>, wrote:

[2020-12-29 10:38] gao-sun commented on #124
glad it works

[2020-12-29 10:38] #124 closed

[2020-12-30 15:09] MoserGuilherme opened #136 "Wrong Temperature Information - It's marking -1º Celsius"
I updated to the last version yesterday. It was working up to I restarted to go to the Bootcamp (external ssd), when I changed back the temperature started to mark only -1 Celsius, maybe is something related to that. Other temperature softwares are working as usual (as the Fanny app).

**Screenshot:**

![Captura de Tela 2020-12-30 às 11 53 29](https://user-images.githubusercontent.com/44823888/103

[2021-01-01 14:50] MeisterLampeMK commented on #113
same issue with Version 1.5

[2021-01-01 15:24] MeisterLampeMK commented on #40
same issue under Version 1.5 in Catalina

[2021-01-01 21:08] #131 closed

[2021-01-03 06:39] gao-sun commented on #136
Thanks for reporting. Will take a look tonight.

[2021-01-03 11:10] MeisterLampeMK commented on #40
@gao-sun when is the issue fixed?

[2021-01-04 15:53] krubenok commented on #128
I'm also having this issue on 1.5 with Big Sur 11.2 Beta. It flashes much more quickly in light mode and when toggling to Dark Mode I can slow it down to be less distracting.

Of note, I'm using an eGPU now and wasn't previously when I didn't have this issue. I wonder if that's a commonality?

[2021-01-05 02:14] gao-sun commented on #128
thanks for detailed feedback, not sure if it's an issue related to eGPU. I have 2 MacBooks running Big Sur (15' and 13') but cannot re-produce.
the good news is a friend of mine reported this issue as well and i will contact him to debug this soon

[2021-01-05 02:16] gao-sun commented on #128
quick update: reproduced in 15' MacBook, will try to take a look tonight!

[2021-01-07 07:50] guckuck opened #137 "[bug] Error messages in Bluetooth Explorer Event Log"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
I get the following errors on Bluetooth Explorer Event Log when EUL is running (every second).
[code]

**Expected Behavior**
No error messages.

**Context**
 - eul version: v1.5
 - macOS version: 10.15.7
 - Device model: Macbook Pro mid 2012

**Debug Output**

[code]

**Is Related to a Crash?**
No

[2021-01-11 04:47] gao-sun commented on #137
thanks for reporting. will take a look tonight

[2021-01-11 05:36] gao-sun commented on #113
interesting. will try to re-produce on a Catalina Mac

[2021-01-11 05:36] gao-sun commented on #128
please try v1.5.1, should be fixed

[2021-01-12 09:24] Daniswiss opened #140 "Wrong CPU Temperature shown -81C°"
Since version 1.5 and 1.5.1 the cpu temperature shows -81°C (minus degree!).

Shown on a 2017 iMac 21" 4k 3Ghz i5

[2021-01-13 08:14] yklovett commented on #140
same happen to me.

2019 iMac 27''

[2021-01-14 02:27] mmichon commented on #128
Looks like it's fixed for me on Big Sur 11.1 on an M1 MBA

[2021-01-15 15:45] mishanya14228 commented on #76
Using v1.5.1 on Intel mbp, os version 11.0.1
Energy impact is unnoticeable when not showing info in status bar (0.1-0.2 in activity monitor).

Turning the status bar components on and adding network only brings it to 40.
<img width="868" alt="image" src="https://user-images.githubusercontent.com/24919375/104747061-b926d300-5758-11eb-8009-7cfa4e0d1908.png">

Adding CPU and disk results in 80, which

[2021-01-16 14:03] artexhibit commented on #95
@gao-sun, don't know if I have the same issue or not, but after I first started eul, then closed, reboot MBP and tried to launch eul again the icon did not appear in menu bar, but the process has started.

[2021-01-17 15:22] gao-sun commented on #140
I think the reason is #132 changed reading behavior of CPU temp from proximity to die, and in some Mac the number goes wrong. fixing now.

[2021-01-17 15:28] gao-sun commented on #128
@shutter-cp @krubenok does it work in v1.5.1?

[2021-01-17 15:50] gao-sun commented on #140
please try v1.5.2 to see if it helps

[2021-01-17 15:51] gao-sun commented on #136
please try v1.5.2 to see if it helps

[2021-01-17 15:59] gao-sun commented on #76
![image](https://user-images.githubusercontent.com/14722250/104848305-53387800-591f-11eb-84be-afacccc7e751.png)

@mishanya14228 would you mind to click the arrow in the left side and paste the details here?

![image](https://user-images.githubusercontent.com/14722250/104848326-69decf00-591f-11eb-8625-b63f655f3675.png)

I'm using Chrome for example since there's no arrow in the eul row on my Mac (a

[2021-01-17 16:21] MoserGuilherme commented on #136
Seems work, I tried to reproduce the bug reported and the application does not show negative temperatures. It shows die temp instead of proximity. It's same temperature of another monitors. Thanks :)

[2021-01-17 17:34] mishanya14228 commented on #76
CPU goes up to 100% and the arrow hides diskutil 👇

<img width="235" alt="image" src="https://user-images.githubusercontent.com/24919375/104850857-3ccbf580-58fa-11eb-8827-307d4cffc16c.png">
<img width="454" alt="image" src="https://user-images.githubusercontent.com/24919375/104850894-6b49d080-58fa-11eb-821f-711c54c6fc4a.png">

Also I've experienced something like https://github.com/gao-sun/eul/iss

[2021-01-18 04:54] gao-sun commented on #136
you are very welcome. thanks for your detailed reporting and quick feedback!

[2021-01-18 04:54] #136 closed

[2021-01-19 00:42] jevonmao opened #143 "Can we enable discussions for this repo?"
GitHub Discussions is a collaborative communication forum for repositories. It allows people to easily ask question, have discussions, and make replies.
Since we don't have Slack or email for communication, enable discussion would allow contributors on this project to ask questions about the codebase and things like that. What do you think, @gao-sun ?

Reference: https://docs.github.com/en/discuss

[2021-01-19 04:04] jevonmao commented on #81
I would like to have a go at this. I'm new to this project, still not very familiar with the codebase yet. So I might need some help.

[2021-01-19 04:44] jevonmao commented on #81
# Issue \# 81 show top ram programs design #

Created by Jevon Mao on 2020/1/18.

## TL;DR ##

This is a design doc that outlines my plan, tracks my progress, and document any related information to implementing [#81](https://github.com/gao-sun/eul/issues/81) that is a section showing top ram processes similar to the existing top CPU processes.

## Resource References ##

1. https://ss64.com/osx/t

[2021-01-19 06:44] jevonmao opened #146 "Traditional Chinese (繁体中文) localization"
We already have simplified Chinese localization. Adding in traditional Chinese shouldn't be too hard.

[2021-01-19 09:22] shutter-cp commented on #128
yes effect thank you

[2021-01-20 02:54] gao-sun commented on #143
yes!

[2021-01-20 02:59] gao-sun commented on #128
glad to see it works, you guys are awesome

[2021-01-20 02:59] #128 closed

[2021-01-20 21:29] #143 closed

[2021-01-21 11:04] gao-sun commented on #76
@mishanya14228 great, got the direction of this issue.
also would be great if you can paste the tray icon issue in #95.

[2021-01-21 11:05] gao-sun commented on #140
does the release fix this issue? @Daniswiss @yklovett

[2021-01-21 12:56] zhqu1148980644 opened #149 "eul status bar components are force hidden by system"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

eul status bar components are force hidden by system

**Expected Behavior**

see the eul status bar

**Screenshots**

![image](https://user-images.githubusercontent.com/29366130/105354167-22ac5300-5c2b-11eb-8e1e-6ed6fd6b3a99.png)

**Context**
 - eul version:
 - macOS version:
 - Device model:

**Debug O

[2021-01-21 13:01] zhqu1148980644 commented on #18
it works now and no high CPU usage now.

[2021-01-21 15:14] gao-sun commented on #81
your PR looks great @jevonmao! just left 2 comments. let me if you need any help

[2021-01-21 15:41] jevonmao commented on #149
The status bar has limited amount of space. It's not a bug, try taking off other icons on status bar or use less number of components in eul preferences

[2021-01-21 16:01] Daniswiss commented on #140
Yes, seems to be fine again! thx!

[2021-01-21 17:41] mishanya14228 commented on #95
I've experienced something like this after os restart. There were no tray icon or app interface. I resolved the issue doing **Preferences -> Displays -> Resolution -> Scaled -> toggle any resolution and then toggle it back**. Tray icon appeared and I could open the app. Probably an issue with OS

[2021-01-22 03:22] gao-sun commented on #140
you are very welcome

[2021-01-22 03:22] #140 closed

[2021-01-22 11:26] thomasheeney opened #151 "[bug] CPU Temperature incorrectly reported"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
The CPU temperature is currently showing as -85 degrees Celsius, but running `sudo powermetrics --samplers smc |grep -i "CPU die temperature"` reports 52 Celsius.

**Expected Behavior**
It should show the correct CPU temperature

**Screenshots**
<img width="307" alt="Screenshot 2021-01-22 at 11 24 13" sr

[2021-01-22 16:23] gao-sun commented on #69
please try v1.5.4. should work now.

[2021-01-22 16:23] gao-sun commented on #69
release in 15 min

[2021-01-22 16:24] gao-sun commented on #69
sorry I mean v1.5.3, too excited to launch this feature

[2021-01-22 16:25] gao-sun commented on #69
![Uploading image.png…]()

it's disabled by default, please add bluetooth component in menu view preference

[2021-01-22 16:28] Tealk commented on #69
I am curious to see what you have conjured up

[2021-01-22 16:34] Tealk commented on #69
![CleanShot 2021-01-22 at 17 33 51](https://user-images.githubusercontent.com/12276250/105518007-074b5180-5cd8-11eb-9fd1-f6c01e82f62c.jpg)
im in love

[2021-01-22 16:45] gao-sun commented on #151
would you mind to try the latest version? [a fix](https://github.com/gao-sun/eul/releases/tag/v1.5.2) has been placed in v1.5.2

[2021-01-22 16:48] thomasheeney commented on #151
My apologies, I thought I updated through homebrew but apparently not! Working with 1.5.3. Thanks!

[2021-01-22 16:48] #151 closed

[2021-01-23 06:34] gao-sun commented on #137
according to these posts ([link1](https://apple.stackexchange.com/questions/397100/tracing-random-system-crashes) [link2](https://discussions.apple.com/thread/251290588) [link3](https://discussions.apple.com/thread/251246793)), i think it's more like an OS issue when external storage/VM appears in the system. i'll try to find a more stable way to get disk info.

[2021-01-23 06:35] gao-sun commented on #76
@mishanya14228 according to these posts ([link1](https://apple.stackexchange.com/questions/397100/tracing-random-system-crashes) [link2](https://discussions.apple.com/thread/251290588) [link3](https://discussions.apple.com/thread/251246793)), i think it's more like an OS issue when external storage/VM appears in the system. i'll try to find a more stable way to get disk info.

[2021-01-23 09:25] gao-sun commented on #137
please try v1.5.4, removed `diskutil` usage and leverage `FileManager` instead. the issue should be fixed.

[2021-01-23 09:26] gao-sun commented on #76
@mishanya14228 please try v1.5.4, removed `diskutil` usage and leverage `FileManager` instead. the issue should be fixed.

[2021-01-23 09:31] gao-sun commented on #105
please try v1.5.4

[2021-01-23 15:09] spoergsmaal commented on #105
It works! Thank you, great work.

One not very important suggestion: Maybe add an option to remove the eject button next to the built-in storage, "Macintosh HD", so people won't accidentally click it.

[2021-01-24 10:32] gao-sun commented on #105
sure! it won't work actually, but the suggestion is great. I'll remove the button for internal storages in the next release

[2021-01-24 10:33] gao-sun commented on #93
please try v1.5.5

[2021-01-24 10:33] #93 closed

[2021-01-24 10:33] gao-sun commented on #110
please try v1.5.5

[2021-01-24 10:33] #69 closed

[2021-01-24 11:56] gao-sun commented on #105
@spoergsmaal please try v1.5.6, it now only shows eject button on external storages.

[2021-01-24 13:26] CedricRBR commented on #149
I get the same error, but all components are shown. So it's not a space issue.
It looks like eul doesn't like it when the menu bar is set to auto hide and the settings pane is open.

[2021-01-24 17:21] TinQ0 opened #157 "[bug] GPU stats are not reporting correctly"
No other information than the cpu % is being shown, even under high load

<img width="374" alt="Screenshot 2021-01-24 at 18 19 20" src="https://user-images.githubusercontent.com/41490684/105638039-e5d19d80-5e70-11eb-92ef-3c60832dce8f.png">

[2021-01-25 02:53] gao-sun commented on #157
thanks for reporting! taking a look tonight

[2021-01-25 02:59] gao-sun commented on #149
@CedricRBR didn't consider the auto hide setting, thank you for reporting! will take a look soon

[2021-01-25 06:11] InsaneDuck opened #158 "[bug]Reporting incorrect battery health"
Reporting incorrect battery health and max capacity on Macbook Air M1
<img width="359" alt="Screenshot 2021-01-25 at 11 36 24" src="https://user-images.githubusercontent.com/39309626/105667886-2fb69400-5f02-11eb-913b-db1b6597b543.png">

[2021-01-25 09:04] giuliomagnifico commented on #157
Same here with Vega 48

![Screen Shot 2021-01-25 at 09 45 39](https://user-images.githubusercontent.com/1975176/105684063-b95f6500-5ef4-11eb-8535-b0bc5cb16693.png)

[2021-01-25 09:32] giuliomagnifico opened #159 "Style Light and Dark independently from macOS style"
I tried to insert manually

`defaults write com.gaosun.eul NSRequiresAquaSystemAppearance -bool FALSE`

or TRUE, but nothing has changed. A check button in the UI app would be nice, but if you can explain where I'm wrong, it would be useful.

Thanks for the great app!

[2021-01-25 10:56] gao-sun commented on #159
thanks for reporting. don't panic. I'll make an option to switch soon

[2021-01-25 10:57] gao-sun commented on #158
good job M1 MacBook! will take a look soon

[2021-01-25 11:52] gao-sun commented on #157
https://user-images.githubusercontent.com/14722250/105702358-a7a6ad80-5f46-11eb-956c-8b22be4d33de.mov

@TinQ0 that `N/A` on Intel card should be a bug actually will be fixed soon. but surprisingly it works on my MacBook with AMD Pro 560X (please see the video). I need to do some deep dive on this. stay tuned.

@giuliomagnifico I think the report of your card is good because it's showing the real-t

[2021-01-25 12:01] TinQ0 commented on #157
I've not disabled any system protections maybe that't the culprit, but on my 16' macbook with the 4gb radeon pro 5500m it still shows nothing else than % utilisation

<img width="380" alt="image" src="https://user-images.githubusercontent.com/41490684/105703230-33034d00-5f0d-11eb-8c0c-24eae2cf62ec.png">

[2021-01-25 12:03] TinQ0 commented on #149
I have the same issue first time launching eul when bartender is enabled.

[2021-01-25 12:20] gao-sun commented on #157
@TinQ0 v1.5.7 should resolve the N/A issue when your mac has multiple GPUs. as for the zeros, will let you know once I figure out

[2021-01-25 12:25] gao-sun commented on #149
currently I'm using a delay detection of visibility (~15s) after booting up and actually I noticed it's still too short under some circumstances. it's kind of tricky to know whether the system is "ready" for displaying status bar items or it's trying to hide status bar items due to the lack of space. I'll try to figure this out as well.

[2021-01-25 12:29] giuliomagnifico commented on #157
No it changes sometimes but is read wrong, should be 1200 MHz GPU and 786 MHz RAM, see video:

https://user-images.githubusercontent.com/1975176/105705796-f5082800-5f10-11eb-9577-9e18400f1596.mov

[2021-01-25 12:31] giuliomagnifico commented on #159
Great thanks, meanwhile can you provide me the correct "default write/boolean" to change the white UI to black by myself? It really hurts my eyes 😅
 Thanks a lot!

[2021-01-25 12:38] gao-sun commented on #157
@giuliomagnifico yeah it's real-time clock instead of the peak clock. try to increase the GPU load I think you'll see the card is reaching its max capacity

[2021-01-25 13:23] gao-sun opened #162 "[feature request] network upload/download arrows on the status bar to be related to text display"
from [reddit](https://www.reddit.com/r/MacOS/comments/l3ygc7/new_features_added_macos_status_monitoring_app/gkmnb2w?utm_source=share&utm_medium=web2x&context=3):

[2021-01-25 13:29] gao-sun commented on #159
sure and you are very welcome!

[2021-01-25 13:31] gao-sun opened #163 "[feature request] export temperature/stats data into csv"
<h3>Make sure there's no open issue for the same request before submit.</h3>

[2021-01-25 13:34] SoeWaiYan commented on #110
I had and it is very nice. thank u!

[2021-01-25 13:57] gao-sun opened #164 "[feature request] provide a clean version of status bar logo"
from [reddit](https://www.reddit.com/r/MacOS/comments/l3ygc7/new_features_added_macos_status_monitoring_app/gkpcwmf?utm_source=share&utm_medium=web2x&context=3):

[2021-01-25 16:46] giuliomagnifico commented on #159
Thanks, I wait for it :-)

[2021-01-25 17:04] #81 closed

[2021-01-25 19:30] jevonmao commented on #164
I don't really understand. Is it talking about the app icon or the status bar drop down menu? Pictures will be nice.

[2021-01-25 21:09] jevonmao opened #165 "Possible bug? - GPU status confusing"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

1. The GPU display shows a discrete graphics card that does not exist on my computer.
2. Why is the information sometimes N/A ? (Potential bug?)

**Expected Behavior**

Displaying my GPU information correctly. My Macbook Pro only has Intel UHD 630 integrated graphics. No discrete graphics card.

**Scree

[2021-01-25 21:13] jevonmao commented on #165
Actually.... I might not have realized the fact that there is a discrete GPU on my Macbook Pro for 2 years. Also this issue is addressed by a previous issue so I am going to close this.

[2021-01-25 21:13] #165 closed

[2021-01-25 21:58] MusaAqeel opened #166 "[bug] not showing cpu temp. for M1 MacBook"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

not showing cpu temp for m1 MacBook Air base model canada English

**Expected Behavior**

no
**Screenshots**

<img width="515" alt="Screen Shot 2021-01-25 at 4 57 55 PM" src="https://user-images.githubusercontent.com/77996753/105771389-7a4e0580-5f2e-11eb-8bb3-50382b515ee3.png">

**Context**
 - eul versi

[2021-01-26 02:46] jevonmao commented on #159
@gao-sun I am trying to implement this feature. I will need to add new text which involves the localizations. Do I just leave the localization languages empty until someone fills it in? Should I open a new issue task for that?

[2021-01-26 07:40] jdenormandie opened #167 "[bug] Eul.app inside Eul.app?"
When I unzip eul, the app icon is a white circle-backslash.  When I try to launch the app I get an alert, "You can't open the application "eul" because it may be damaged or incomplete.

When I ran the debug, the output was "zsh: no such file or directory: /Applications/eul.app/Contents/MacOS/eul"

That made me curious, so I went into the package contents and discovered that it appears like the eul

[2021-01-26 08:52] gao-sun commented on #167
this is really interesting. tried the steps below on Intel MacBook (macOS 11.1):
download the zip from release page -> unzip -> drag `.app` file to `Applications` folder -> works!

I assume it's an issue related to M1. will try to debug tonight.

[2021-01-26 08:53] gao-sun commented on #167
in the mean time, would you mind to drag the inside `eul.app` to `/Applications` to see if it works?

[2021-01-26 09:02] jdenormandie commented on #167
I just tried it again on my Intel MBP running Big Sur 11.1.  Same issue with the eul.app nested inside itself.

[2021-01-26 09:07] jdenormandie commented on #167
Yes, this works fine on both M1 and Intel.

[2021-01-26 13:23] gao-sun commented on #159
@jevonmao thanks. please go ahead. you can use English for all l10ns in the beginning.

[2021-01-26 13:24] BookOfStopHere opened #168 "[bug] Fatal error: No ObservableObject of type GpuStore found."
Crashed When launching App
`
Fatal error: No ObservableObject of type GpuStore found. A View.environmentObject(_:) for GpuStore may be missing as an ancestor of this view.: file SwiftUI, line 0
`
crash line in [GpuView.swift]
return gpuStore.usageAverageString ?? "N/A"

[2021-01-26 13:30] gao-sun commented on #168
thanks for reporting! the info is enough i think. taking a look tonight.

[2021-01-26 15:31] gao-sun commented on #168
it's an issue introduced by #145, will fix soon

[2021-01-26 16:13] jwwolff opened #169 "Select which hard drives to monitor"
Allow the user to select which hard drives are used when displaying used and free space in the menu bar to allow time machine backups and bootcamp partitions to stay separate from the reported numbers.

[2021-01-26 16:15] gao-sun commented on #169
suuuuure

[2021-01-26 16:18] gao-sun commented on #166
I think the SMC key of CPU temperature for M1 has been changed. @jevonmao do you have a M1 Mac handy?

[2021-01-26 16:19] gao-sun commented on #164
@jevonmao no worries. I can handle this

[2021-01-26 16:21] gao-sun commented on #167
taking a look now

[2021-01-26 16:23] gao-sun commented on #105
close for housekeeping. feel free to open a new one if anything doesn't work. cheers

[2021-01-26 16:23] #105 closed

[2021-01-26 16:34] gao-sun commented on #167
try on another MacBook but cannot reproduce. but i think i know the reason - if you list the structure under `eul.app.zip` you'll see something like this:

![image](https://user-images.githubusercontent.com/14722250/105874060-211dc900-6037-11eb-85df-01fd168b3750.png)

thus, the `.zip` file itself contains a folder which named `eul.app` (yes, macOS apps are actually folders). have you ever set an u

[2021-01-26 16:42] jevonmao commented on #166
@gao-sun nope, I don't have M1 chip Mac which makes it hard to debug anything related to the M1

[2021-01-26 17:02] gao-sun commented on #135
should be good now

[2021-01-26 17:02] #135 closed

[2021-01-26 17:05] gao-sun commented on #166
no problem. i'll try to debug this

[2021-01-26 17:10] jdenormandie commented on #167
Yes, I just unchecked "create new folder" and eul.app unzipped as expected.  I used TheUnarchiver.app. Strange, why would would it append an ".app" to the folder it created when it unzipped eul?

[2021-01-26 18:10] TinQ0 commented on #157
small update: i've now this showing but no idea what I did different

<img width="340" alt="image" src="https://user-images.githubusercontent.com/41490684/105885831-f5381e80-6009-11eb-8265-09ab16eb2068.png">

[2021-01-26 20:54] erdemoney commented on #76
Using 1.56. Energy impact in Activity Monitor jumped to ~46, so high that my laptop died on AC. CPU usage was ~50% as well. Average Energy Impact I've been seeing is <1 normally.  So it seems like this issue still exists just maybe only in some edge case. After booting my computer things were back to normal. Great app though, really appreciate all the work you've done.

[2021-01-26 22:47] jevonmao commented on #168
Did I introduce this error in #145? What did I mess up? Far as I know, I didn't change any gpu related stuff.

[2021-01-27 02:47] gao-sun commented on #168
@jevonmao I think you accidentally removed gpu store in shared stores - no worries. fixed in v1.5.8

[2021-01-27 02:54] gao-sun commented on #167
@jdenormandie i think because of the filename `eul.app.zip`, thus it'll simply remove `.zip` suffix during unzipping. glad we figured it out :-)

[2021-01-27 02:55] gao-sun commented on #168
should be good now @BookOfStopHere

[2021-01-27 06:45] jevonmao commented on #85
This is from a looong time ago so I'm going to close this. Also this issue should be fixed during the past months.

[2021-01-27 06:45] #85 closed

[2021-01-27 06:55] #167 closed

[2021-01-27 08:05] jevonmao commented on #157
@giuliomagnifico FYI, 1 GHz which is unit displayed on the Eul equals to 1000 MHz which is more common measurement of GPU clock speed. But good point, we might want to change it to MHz to avoid confusion.

[2021-01-27 08:06] Tealk opened #172 "[bug] bluetooth charging indicator wrong"
**Describe the Bug**
As you can see in the screens, it probably does not update the loading indicator

**Expected Behavior**
show the charge capacity that macos also shows

**Screenshots**

![CleanShot 2021-01-27 at 08 59 45](https://user-images.githubusercontent.com/12276250/105960871-19354780-607e-11eb-9176-8d46423c6261.jpg)
![CleanShot 2021-01-27 at 09 00 35](https://user-images.githubuserconte

[2021-01-27 08:10] jevonmao commented on #159
@giuliomagnifico The command you are using is probably not working because `appearance` is an UIKit thing, and most of the UI here is written in SwiftUI. Or maybe Apple just don't expose the dark mode settings for a particular app only:)

[2021-01-27 20:40] AstralGoGod opened #173 "Not Displaying"
**Describe the Bug**

The bug is that while the program runs it does not display itself in the menu bar and when I try to open it it still doesn't work.

**Expected Behavior**

It should be showing up in the menu bar

**Screenshots**

N/A

**Context**
Eul Version 1.5.8
macOS Version 11.1
MacBook Air (Retina, 13-inch, 2020)

**Debug Output**

⚙️ loaded data from user defaults preference {
  "networ

[2021-01-28 06:21] EIBHomeControl opened #174 "[feature request] Show remaining battery time in menu bar"
Hi,

Is it possible to add the remaining battery runtime to the menu bar.

best regards
Frank

[2021-01-28 07:17] jevonmao commented on #173
@AstralGoGod Did you get a pop up saying Eul is hidden by system? Please try this: reduce the number of components until it shows up. Because when you have lots of components on a small screen, there isn't enough space.

[2021-01-28 07:21] jevonmao commented on #157
@TinQ0 There is 2 rows because your MacBooks has 2 GPU - integrated and discrete. When the GPU load is light or some software cannot access the discrete graphics card, it will show `N/A` because it's not in use. If the load is at 0%, it means computer are not using the GPU at all.

[2021-01-28 14:53] AstralGoGod commented on #173
I did just get that popup, weird. I had to force quit the app and restart my computer for it to do so though. Thank you!

[2021-01-28 14:53] #173 closed

[2021-01-28 17:16] lkhphuc opened #175 "[bug] Fan run very noisy when use app."
**Describe the Bug**
Thank for the beautiful app. However when app is launched, the laptop fan kick in and is very noisy. Fan noise stops after 5s of quitting app.

**Expected Behavior**
Admittedly my Mac is not very powerful but still a monotioring app shouldn't kick in the fan constantly during launch.

**Context**
 - eul version: 1.5.6
 - macOS version: 11.1
 - Device model: Macbook Air 2019

[2021-01-28 17:19] lkhphuc commented on #175
Close due to duplication #87

[2021-01-28 17:19] #175 closed

[2021-01-28 18:48] #168 closed

[2021-01-29 01:11] MikeBeaton opened #177 "[bug] Status bar icon has disappeared"
Just recently - possibly at update to Big Sur 11.2 RC 3 - the status bar icon for EUL has disappeared.

It should be between the scroll reverser and keyboard icons in the below:

<img width="230" alt="Screenshot 2021-01-29 at 01 06 38" src="https://user-images.githubusercontent.com/11946605/106218058-793b0380-61ce-11eb-842f-caff56f4381e.png">

The program is running, but the icon seems to have gon

[2021-01-29 03:02] gordio commented on #87
I can't understand how all project work. But trying to research problem.  And looks like problem in Combine or "delegate handling". Also found if open pref window CPU load is gone.
Problem **not** in NetworkUpdate, checkVisibilityIfNeeded, icons refresh/render, I think…

[2021-01-29 05:23] gao-sun commented on #157
@jevonmao thanks for explanation. also @TinQ0 would you mind to double check eul version to see if it's v1.5.7 and above?

[2021-01-29 05:27] gao-sun commented on #76
@erdemoney thank you for detailed feedback, it looks like there's no process hanging under eul, and the energy impact still looks terrible. will keep an eye on it

[2021-01-29 05:59] gao-sun commented on #174
yeah why not

[2021-01-29 06:00] gao-sun commented on #177
this is strange. thanks for reporting. will try the rc version and debug what is going on

[2021-01-29 07:35] MikeBeaton commented on #177
To keep you updated, the icon has come back this morning - even though I rebooted several times last night and it did not come back. I realise if this is going to be very intermittent then there may not be much you can do until someone finds a way to make a more repeatable bug. (And I realise it might not even be directly to do with your software!) I'll keep you posted if I see any more changes. M

[2021-01-29 08:53] TinQ0 commented on #157
yep, this is 1.5.8 and still showing only usage

<img width="400" alt="image" src="https://user-images.githubusercontent.com/41490684/106253439-c7282980-6217-11eb-89de-bf5cfd934beb.png">

[2021-01-29 09:07] giuliomagnifico commented on #157
Same here with iMac + Vega 48. The clock is not correctly displayed.

[2021-01-29 17:11] gao-sun commented on #177
@MikeBeaton thank you so much for your kindness! really appreciate your empathy on the developer side - just let me know if it can be reproduced in a stable way. i'll also keep an eye on it once i get 11.2 update

[2021-01-29 19:57] JeffWDH commented on #166
This project seems to be able to get the M1 temperature sensors, maybe you can get information from it:
https://github.com/freedomtan/sensors_cmdline

[2021-01-29 20:10] erdemoney commented on #76
Sure, let me know if there's any other data or logs I can provide to help solve this issue.

[2021-01-30 02:48] jevonmao commented on #157
I have different model of GPU, but the display seem correct on my iMac and MacBook Pro.

[2021-01-30 13:23] baptistecdr commented on #177
https://github.com/gao-sun/eul/issues/95#issuecomment-764820023 This solution work for me (choose the maximum resolution on the right).

[2021-01-30 22:23] MikeBeaton commented on #177
I'd agree it does sound pretty much like the same issue as #95. I'll try that fix if it happens again. And report back!

[2021-01-31 00:19] Jaymazin commented on #177
Unsubscribe please

On Thu, Jan 28, 2021 at 7:12 PM Mike Beaton <notifications@github.com>
wrote:

[2021-01-31 00:48] MikeBeaton commented on #177
@Jaymazin I believe there's no other way except for you to log in to GitHub, find this thread/project (there's a link at the bottom of this email!) and unsubscribe yourself.

[2021-01-31 09:56] angrycustard opened #179 "[bug] Selecting top ram usage on M1 MacBook Pro hits 300% cpu"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
Selecting top ram usage on M1 MacBook Pro hits 300% cpu

**Expected Behavior**
Same as 1.5.7 very little cpu usage

**Screenshots**
<img width="421" alt="show ram top activities" src="https://user-images.githubusercontent.com/78175784/106380482-75fc6f00-63aa-11eb-9af9-c84872ba721d.png">

**Context**
 - e

[2021-01-31 09:57] angrycustard commented on #179
When I leave show top ram usage unticked it behaves the same as 1.5.7

[2021-01-31 17:38] sinanbozkus commented on #177
Same for me... Status bar icon disappeard.

[2021-01-31 18:40] unbeatable-101 commented on #179
I can't replicate this, have you tried reinstalling?

[2021-01-31 19:10] angrycustard commented on #179
Tried uninstalling, reinstalling, removing all traces of the app (widgets, group containers)

[2021-02-01 15:17] gao-sun commented on #179
@jevonmao would you like to take a look on this?

[2021-02-01 15:18] gao-sun commented on #157
sorry guy i'm packed these days. will take a look this week. stay tuned

[2021-02-01 15:28] jevonmao commented on #179
@gao-sun Sure. I will take a look at it, but right now I have no idea what's causing this.

[2021-02-01 15:29] angrycustard commented on #179
Are there any logs I can provide as I can replicate this by just ticking a box.

[2021-02-01 15:46] angrycustard commented on #179
Not sure if this helps but it seems to be related when my MacBook Pro M1 is running on battery

[2021-02-01 21:13] sinanbozkus commented on #177
I cloned this repository and run on X-Code. I can't still see the status bar icon.

[2021-02-02 08:56] Bmju commented on #177
NB If this is the same as issue #95 (the description sounds the same to me; this has now recurred occasionally for me, then goes away again!) then it may not be specifically to do with the new version of Big Sur at all - but perhaps something more long-standing, but sporadic? Thanks!

[2021-02-04 14:10] gao-sun commented on #179
i'll be great if you can paste some debug output here, just follow the instructions in issue template

[2021-02-04 16:23] unbeatable-101 commented on #179
It is happening to me now, I don't have top ram usage selected
[code]
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/58151048/106922720-53849180-66db-11eb-9ffe-e17ad47499fb.png">

[2021-02-04 16:39] angrycustard commented on #179
Here is mine with running on battery

⚙️ loaded data from user defaults preference {
  "showNetworkTopActivities" : true,
  "textDisplay" : "compact",
  "showRAMTopActivities" : true,
  "checkStatusItemVisibility" : true,
  "showIcon" : true,
  "networkRefreshRate" : 3,
  "language" : "en",
  "temperatureUnit" : "celius",
  "fontDesign" : "default",
  "showCPUTopActivities" : true,
  "smcRefreshRa

[2021-02-06 10:24] guckuck commented on #137
It seams to work. I get no error messages. Thank you!

[2021-02-07 06:39] zkvvoob opened #182 "[bug] Incorrect free space on Disk component"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
As far as I can tell, the Disk indicator shows a wrong value for free space (or for any other type of metric, for that matter), compared to the Storage section in "About This Mac".

**Expected Behavior**
I would hope that the two match.

**Screenshots**
![изображение](https://user-images.githubuserconten

[2021-02-07 16:32] jevonmao commented on #182
I know what you are seeing. Open up disk utility, and see the free space number on there and it will make sense. For some reason, the About This Mac tab's disk space is greater than the disk space in disk utility. After doing some research, this might have something to do with macOS versions after Catalina creating purgeable files that can be cleaned manually.

[2021-02-07 17:25] zkvvoob commented on #182
I see! Thank you very much for this hint. Do you know how these purgeable
files can actually be purged?

На нд, 7.02.2021 г. в 18:32 ч. Jevon Mao <notifications@github.com> написа:

[2021-02-08 04:19] gao-sun commented on #179
@unbeatable-101 @angrycustard thank you! will take a look this week

[2021-02-08 04:23] gao-sun commented on #177
I'm updating to 11.2 (release) now - will let you know if I can reproduce

[2021-02-08 04:24] gao-sun commented on #137
you are very welcome

[2021-02-08 04:24] #137 closed

[2021-02-08 04:24] gao-sun commented on #166
@JeffWDH this is great, thank you! will take a look this week.

[2021-02-09 07:24] slinker-hiwa opened #184 "[bug] Wrong Battery Max Cap on Macbook Pro M1"
Max Battery Cap is 100mah. [](url)
<img width="337" alt="Screen Shot 2021-02-09 at 14 22 44" src="https://user-images.githubusercontent.com/30239019/107329292-8c10da80-6ae2-11eb-8aa8-3101e68737f6.png">

[2021-02-09 15:39] 6ix-Raptors commented on #166
Thanks! I really appreciate EUL!!

________________________________
From: gao-sun <notifications@github.com>
Sent: February 7, 2021 11:25 PM
To: gao-sun/eul <eul@noreply.github.com>
Cc: 6ix-Raptors <musa6ammad@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [gao-sun/eul] [bug] not showing cpu temp. for M1 MacBook (#166)

@JeffWDH<https://github.com/JeffWDH> this is great, thank you!

[2021-02-11 00:23] filmcafeSteve commented on #157
M1 MacMini doesn't detect GPU

<img width="351" alt="Screenshot 2021-02-11 at 00 22 41" src="https://user-images.githubusercontent.com/13024670/107590127-53b2ee80-6bff-11eb-9193-24a5d235a556.png">

[2021-02-11 18:35] gordio commented on #87
Unfortunately I can't reproduce that issue anymore. But that's what I manage to catch…
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/141126/107682184-a8f70a80-6ca8-11eb-8162-dded8ad96bb8.png">

[2021-02-12 15:09] gao-sun commented on #174
should be good with the latest version

[2021-02-12 15:10] gao-sun commented on #169
should be available in the latest version

[2021-02-12 18:13] #164 closed

[2021-02-12 18:26] gao-sun commented on #184
should work now - please try the latest version (v1.5.13)

[2021-02-12 18:28] gao-sun commented on #172
thank you for following the instructions and detailed feedback (exactly what we need). but i found the logs are not enough in that version. would you mind to download the latest version (v1.5.13) and have a try, then paste the logs here?

[2021-02-12 18:31] gao-sun commented on #157
would you mind to download the latest version (v1.5.13) and have a try, then paste the related logs here? (please follow the instruction for debug mode, and pay attention to the logs starts with `📊 statistics`)

[2021-02-12 19:10] TinQ0 commented on #157
Hey. I switched to the latest release but I don't see the instructions to enter debug mode, nor can I find them on the GitHub. Could you link them for me?

Sadly still nothing to see in the gpu stats.

[2021-02-13 01:04] shinyamagami commented on #177
We don't even need to change the resolution but make a youtube video or something full screen in your browser then it appears.

[2021-02-13 04:25] gao-sun commented on #157
@TinQ0 the instruction are described in new issue template:
https://github.com/gao-sun/eul/issues/new/choose

i didn't update GPU functionality, just added more console output for easier debugging :-)

[2021-02-13 04:34] gao-sun commented on #87
@gordio thank you so much so detailed feedback!! sorry i missed your message. according to this call stack. i think the problem may caused by the combination of SwiftUI and NSStatusItem, or the way i'm trying to refresh/resize the view. hard to know what was wrong but will try to go deep on this. let me know if you can re-produce this stably

[2021-02-13 08:22] Tealk commented on #172
Here is the new debug output:
[code]

currently the error is only 2%, so eul shows 2% more charge than macOS

[2021-02-13 10:35] TinQ0 commented on #157
This is the first set of logs:
Do you want more or is this enough
📊 statistics ["recoveryCount": 0, "freeDataBufferWaitTime": 0, "clientGLWaitTime": 0, "textureReadOutBytes": 0, "inUseVidMemoryBytes": 0, "textureVolunteerUnloadBytes": 0, "finish2DWaitTime": 0, "surfaceReadLockIdleWaitTime": 0, "oolTextureCreationCount": 2, "swapBytesPerSample": 0, "contextVideoCount": 0, "gartFreeBytes": 711064371

[2021-02-13 22:20] filmcafeSteve commented on #157
⚙️ loaded data from user defaults preference {
  "language" : "en",
  "fontDesign" : "default",
  "showNetworkTopActivities" : false,
  "cpuMenuDisplay" : "usagePercentage",
  "showIcon" : true,
  "upgradeMethod" : "showInStatusBar",
  "showRAMTopActivities" : false,
  "smcRefreshRate" : 3,
  "networkRefreshRate" : 3,
  "textDisplay" : "compact",
  "checkStatusItemVisibility" : true,
  "showCPUTop

[2021-02-13 22:22] filmcafeSteve commented on #157
-debug didn't give me 'statistics', only this:

⚙️ loaded data from user defaults preference {
  "language" : "en",
  "fontDesign" : "default",
  "showNetworkTopActivities" : false,
  "cpuMenuDisplay" : "usagePercentage",
  "showIcon" : true,
  "upgradeMethod" : "showInStatusBar",
  "showRAMTopActivities" : false,
  "smcRefreshRate" : 3,
  "networkRefreshRate" : 3,
  "textDisplay" : "compact",
  "

[2021-02-13 22:25] TinQ0 commented on #157
@filmcafeSteve I think you're not running in debug mode, but just normal cli. You should open a cmd at that folder and then `./eul --debug`

[2021-02-14 00:42] jevonmao opened #187 "[bug] Misleading/wrong CPU temperature value"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

The CPU temperature displayed in Eul is not necessarily wrong, but it's misleading. As shown in the picture, I am running a stress test on CPU, and while both Intel Power Gadget and terminal command shows CPU temp to be above 90 degrees (Celsius), the Eul temperature is in the 60 degrees.

**Expected Be

[2021-02-15 05:32] #174 closed

[2021-02-15 05:32] EIBHomeControl commented on #174
Thanks

[2021-02-15 20:10] Musa4161 opened #188 "[bug] Temperature never shows"
So the temp has never shown for me and its not an issue with my mac. TG PRO shows all my temperatures without a problem

[2021-02-15 22:21] 6ix-Raptors commented on #166
I have one, also can you walk me though how i would dowload it and have the temprature displayed?

________________________________
From: gao-sun <notifications@github.com>
Sent: January 26, 2021 11:18 AM
To: gao-sun/eul <eul@noreply.github.com>
Cc: 6ix-Raptors <musa6ammad@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [gao-sun/eul] [bug] (#166)

I think the SMC key of CPU temperatu

[2021-02-16 04:48] gao-sun commented on #187
thanks. the command is helpful - will try it

[2021-02-16 19:22] Musa4161 opened #189 "[bug] CPU % not working"
![Screen Shot 2021-02-16 at 2 18 59 PM](https://user-images.githubusercontent.com/79111867/108111035-27192f80-7062-11eb-9324-4d88ecff0655.png)

M1 mac 2020

This is the first time ive encountered this issue. This happened after i installed the latest release. Please fix this asap

[2021-02-16 22:29] nmcdonaldd commented on #87
@gao-sun I have an app with a similar NSStatusItem-related performance issue as well related to Core Animation on Big Sur. I can consistently reproduce it **only** when using a light wallpaper. If the user's wallpaper is sufficiently light-enough such that the status bar must use dark text on a lighter background, there's a huge uptick in `CA::Transaction::commit()` calls. If, however, you use a w

[2021-02-18 16:46] gao-sun opened #190 "[feature request] add swap memory display"
from [reddit](https://www.reddit.com/r/MacOS/comments/l3ygc7/new_features_added_macos_status_monitoring_app/glguho9?utm_source=share&utm_medium=web2x&context=3)

[2021-02-19 01:52] jevonmao commented on #190
### Overview
Hey @gao-sun, so trying to get the system swap memory, I was referencing this Apple Virtual Memory [source code](https://opensource.apple.com/source/xnu/xnu-3789.51.2/osfmk/mach/vm_statistics.h.auto.html). I thought the `swapins` or `swapouts` property should get the swap memory, but the values are unreasonable and incorrect.
### Reproduce

1. Put a breakpoint anywhere around 365 in S

[2021-02-22 06:59] jasikpark commented on #149
Would it be possible to split up the menubar into individual bits, so that it isn't all or nothing? So that if you have a particularly large window menu, your fan and network might be covered up, but you can still see your cpu usage?

[2021-02-22 09:29] lkhphuc commented on #87
Today I woke up to my Macbook fan spinning at full speed, **while it's sleeping**. When I turn it on and open activity monitor, Eul is the culprit with 100% cpu. What even more weird is that I have the status line component disabled already and I only used Eul for its widgets.

[2021-02-22 09:37] gordio commented on #87
Check this please.
<img width="668" alt="image" src="https://user-images.githubusercontent.com/141126/108689811-3a187d80-7502-11eb-8114-e69ce111ccfd.png">

[2021-02-22 15:49] gao-sun commented on #190
thanks for the deep dive and detailed explanation! it looks like your calculation didn't go wrong, what was the number you get from `stats.swapins` and `PAGE_SIZE`?

[2021-02-22 15:49] gao-sun commented on #157
@TinQ0 thanks, will take a look

[2021-02-22 15:51] gao-sun commented on #149
@jasikpark yes, this should be a reasonable feature as the number of components grow. need some time to think about the implementation.

[2021-02-22 15:53] gao-sun commented on #166
@6ix-Raptors  that command line tool leverages some low level apis that i need some time to learn - sorry about inconvenience. you need Xcode to build and run that tool

[2021-02-22 16:32] gao-sun commented on #87
@nmcdonaldd thank you. your reproduction looks convincing. thank you for reporting to apple and feel free to let me know if there's anything i can help with

[2021-02-22 16:34] gao-sun commented on #177
@sinanbozkus @Bmju i think the latest version partially resolved one possible situation which leads to the disappearance. feel free to have a try and let me know if that doesn't help

[2021-02-22 16:37] gao-sun commented on #172
[code]
sorry only saw the log says bluetooth manager is up. would you mind to paste more logs start with `🔵🦷` (indicates bluetooth)

meanwhile i have another guess. since the error in showing on a trackpad, maybe there's some lag between the system bluetooth widget and device cache in `/Library/Preferences/com.apple.bluetooth.plist`. (eul reads the battery level of apple devices from this file)

o

[2021-02-22 18:36] thebadpete commented on #18
Hi there, I am on v.1.5.13, MacOS Big Sur 11.2.1, MacBook Pro model MacBookPro15,1, I am still seeing high CPU, constantly 100%. I tried to turn off all top activities already. I really love the app but it is preventing me from making it an evergreen status bar item.

[2021-02-22 21:17] jessfraz opened #191 "setup github sponsors?"
You have the other sites, wondering if you could setup github sponsors so I can sponsor you!

https://github.com/sponsors

[2021-02-23 07:37] Tealk commented on #172
Trackpad
eul: 49%
System: 75%

Logitech MX Keys & MX Master 3
eul: 100%
The system does not show this, Logitech Options unfortunately does not show percentages. But I have been using the mouse for a long time without loading it, so 100% should not be correct.

[code]

[2021-02-24 19:28] Musa4161 commented on #166
Im 15 so im so lost, i still have the issue where it doesnt show cpu temp, i have Xcode but im not sure what and how to do what your saying in order for the temps to show

[2021-02-24 19:55] jevonmao commented on #166
@Musa4161 It's a known issue for M1 Mac, everyone using Eul on an M1 chip Mac will not have CPU temperature display. Hopefully gao sun knows a little more Objective-C and can figure out the SMC stuff. I don't really understand what the code from that repo is doing.

[2021-02-25 07:13] Musa4161 commented on #166
Oh alright,
Im a noob but if you neeed some sort of help I got an M1 ready

On Wed, 24 Feb 2021 at 14:56, Jevon Mao <notifications@github.com> wrote:

[2021-03-02 02:05] jevonmao commented on #190
@gao-sun Just want to let you know that I am working on some other projects recently, so I might need a few more days before I can give you the numbers for this issue.

[2021-03-05 17:55] btannous commented on #184
it does work on my MBA M1

[2021-03-06 08:32] gao-sun commented on #191
thank you! unfortunately China is not available in github sponsors. will keep an eye on it and try to explore other channels like paypal in the mean time

[2021-03-06 08:32] gao-sun commented on #190
@jevonmao no worries!

[2021-03-06 08:33] gao-sun commented on #172
thank you! will take a look once I finished another project (~one week)

[2021-03-06 08:35] gao-sun commented on #184
@btannous yeah thanks, i think it's fixed on the latest version
@slinker-hiwa close this issue for house-keeping, feel free to re-open if the bug still exists

[2021-03-06 08:35] #184 closed

[2021-03-06 08:36] gao-sun commented on #166
@jevonmao @Musa4161 no worries guys, was too busy but will take a look once i finished current project (~one week)

[2021-03-06 20:53] Musa4161 commented on #166
Awesome, thanks!

On Sat, 6 Mar 2021 at 03:36, gao-sun <notifications@github.com> wrote:

[2021-03-16 21:44] felipemeamaral opened #194 "[feature request] Add disk activity widget"
### Add a widget to show disk I/O and which processes are using the most out of it.

I know that it has a Disk widget, but it only shows up how much space is used and free on each disk, not how much activity is happening on those disks as well.

I guess that it'd turn eul into a even more powerful tool, just like it is at the moment.

And thanks for providing such a nice piece of software free and

[2021-03-18 13:48] gao-sun commented on #194
thanks. this would be great

[2021-03-18 13:51] gao-sun commented on #18
@thebadpete sorry missed your message. mind to take a look at [this comment](https://github.com/gao-sun/eul/issues/87#issuecomment-780158973) to see if it helps?

[2021-03-18 14:38] gao-sun commented on #169
close for housekeeping. feel free to re-open if it doesn't work

[2021-03-18 14:39] #169 closed

[2021-03-18 14:45] gao-sun commented on #158
forgot to post here, should work in the latest version. feel free to re-open if the issue still exists

[2021-03-18 14:45] #158 closed

[2021-03-18 14:47] gao-sun commented on #159
![image](https://user-images.githubusercontent.com/14722250/111644858-2e875080-883b-11eb-9c36-405d5aca8dbc.png)

a lot of things happened these days. but the good news is i'm back.

hopefully this is not too late, you can find the appearance dropdown under display section in the latest version now.

let me know if it doesn't work in Catalina (all my Macs have been updated to Big Sur)

[2021-03-20 06:17] auscompgeek opened #195 "[bug] eul 1.5.14 crashes on start"
**Describe the Bug**
Since updating to eul 1.5.14, eul crashes whenever I try to open it.

**Expected Behavior**
eul does not crash.

**Context**
 - eul version: 1.5.14
 - macOS version: 10.15.7
 - Device model: MacBook Pro (2019)

**Debug Output**

<details>

[code]
</details>

**Is Related to a Crash?**

Yes.

<details>

[code]
</details>

[2021-03-23 17:16] gao-sun commented on #195
sorry. taking a look now

[2021-03-23 17:30] gao-sun commented on #195
and this issue is a great example btw. thanks.

[2021-03-23 17:35] gao-sun commented on #195
please try v1.5.15 and let me know if it works.

[2021-03-23 17:41] MyTheValentinus commented on #195
Hello @gao-sun,
Same issue on 1.5.15

[code]
Thanks

[2021-03-23 18:31] gao-sun commented on #195
@MyTheValentinus are you running eul on Catalina? Gotta sleep now but if your answer is yes I'll disable appearance preference when it's Catalina - as looks like there's a system-dependent of NSMenu (no crash on Big Sur)

[2021-03-23 18:37] MyTheValentinus commented on #195
Yes, I’m on Catalina

[2021-03-23 23:58] auscompgeek commented on #195
I'm also still getting the same crash with 1.5.15.

[2021-03-24 05:04] gao-sun commented on #195
@MyTheValentinus @auscompgeek  mind to try 1.5.16? disabled appearance mode in Catalina.

[2021-03-24 05:33] auscompgeek commented on #195
Works now, thanks! Now I can continue my work day armed with the knowledge of my mouse battery level 🔋 🎉

[2021-03-24 05:33] #195 closed

[2021-03-24 05:41] jevonmao commented on #190
@gao-sun For `stats.swapins` I got 88537. For `PAGE_SIZE` is 4096.  For `stats.swapouts` I got 246198. By the way, I also tried subtracting the `swapins` from `swapouts` thinking it would get the right swap memory. Although I got a more reasonable number, it's about 600mb, and the actual swap memory is 300mb, it's still incorrect.

This is my computer stats from activity monitor at time of taking

[2021-03-24 11:34] gao-sun commented on #195
Glad it works! I'll open another issue for deep diving the reason

[2021-03-24 17:42] jevonmao commented on #194
All the widgets Eul have is battery, CPU, memory, network right? I don't see an existing disk widget?

[2021-03-24 18:36] jevonmao commented on #194
@gao-sun One more issue about widgets, I don't know if you are also getting this error. It's impossible for me to debug the widgets. Whenever I try to run one of the widget targets, it give me this runtime error:
<img width="258" alt="image" src="https://user-images.githubusercontent.com/64660730/112365309-bd112d00-8c94-11eb-9af9-6ea6590b16b2.png">

Console:
[code]

[2021-03-26 17:03] gao-sun commented on #194
@jevonmao thanks. I think the op means the "widget" in status bar

[2021-03-26 17:04] gao-sun commented on #190
will take a look soon

[2021-03-28 02:59] qiukun commented on #190
how about this command `sysctl vm.swapusage`
[code]

[2021-03-28 03:00] jevonmao commented on #190
@qiukun That's great, I overlooked terminal commands. This seems like a very promising solution!

[2021-04-07 08:26] reputati0n opened #197 "[bug]The program does not respond when using hotspot connection"
The program does not respond when using hotspot connection
![截图](https://z3.ax1x.com/2021/04/07/c860ZF.jpg)

**Context**
 - eul version: v1.5.16
 - macOS version: big sur 11.2.3
 - Device model:  MacBook Pro 13 2020 intel CPU

**Debug Output**

[code]
[diag-file](https://oss.cyblogs.cn/file/networkingtopic.diag)

[2021-04-16 21:43] dawulf commented on #87
I installed eul a couple hours ago and I'm getting 100-200% CPU usage. I'm on a M1 MacBook Air (2020). Problem persists after unchecking all of the Show CPU/RAM/network top activities boxes. Restarting the app gets rid of the problem, but at some point soon after restarting, even when restarting with settings that don't show network or network top activities, CPU jumps to 100% and then to 200%. Th

[2021-04-19 09:57] gao-sun commented on #197
thanks for reporting. will take a look soon

[2021-04-21 04:52] chigarow opened #198 "[bug] Network Monitor Not Working when using VPN (Cisco)"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
I. Precondition:
1. Eul Menu Bar display Network only

II. How to Reproduce:
1. Connect VPN to any server on Cisco AnyConnect
2. Check on Eul Menu Bar, the network always show 0 KB/s for upload and download

**Expected Behavior**
The network monitor should show the speed of upload and download, because s

[2021-04-24 12:44] gao-sun commented on #198
thanks, taking a look now

[2021-04-24 15:18] gao-sun commented on #198
oh this one may take one little bit more time - need to switch to another laptop to test under VPN. give me 2-3 more days

[2021-04-24 23:32] chigarow commented on #198
take ur time @gao-sun , would really appriciate your work
thankyouuu

[2021-04-26 15:51] gao-sun commented on #197
please try v1.5.17 and lmk if it helps

[2021-05-19 07:06] bluemix commented on #87
sometimes, I am getting the same issue
<img width="1047" alt="Screen Shot 2021-05-19 at 10 04 04" src="https://user-images.githubusercontent.com/3332274/118770308-d811af00-b889-11eb-90d5-eba45f1cbd57.png">

[2021-05-20 23:36] pomidorchi opened #201 "[feature request] Current wifi network and ability to switch"
<h3>macOS often randomly switch wifi networks after MacBook wakes up</h3>

This would be really nice to have an option to see the current network name and switch between them fast in case of necessity.

The often case for me as I have several wifi networks available for me and I need make sure that am in my home network while I work remotely. This is way too annoying to make additional clicks prio

[2021-05-23 14:33] gao-sun commented on #201
gotcha. sure.

[2021-05-23 14:37] gao-sun commented on #201
was off the project for a while - but i think i need to respond to the community. give me few more days and i'll clean up the issues as much as i can

[2021-05-26 07:43] soewaiyanmyowin opened #203 "[bug] GPU Temperature not showing"
GPU temperature is not showing.

![image](https://user-images.githubusercontent.com/38293630/119621720-7672b700-be2c-11eb-9f5f-bdd96ae6da32.png)

 - eul version: 1.5.18
 - macOS version: 11.4
 - Device model: Macbook pro 2018

[2021-05-28 20:51] lincolnaleixo opened #205 "[feature request] bluetooth devices battery on menubar"
Pretty useful for airpods/wifi mouse etc

An example from iStats:
[https://bjango.com/images/mac/istatmenus6/hero-menubars.jpg](url)

[2021-05-30 12:01] gao-sun commented on #203
please follow the guidance to provide more context

[2021-05-30 12:01] gao-sun commented on #205
this will be cool

[2021-05-30 12:28] gao-sun commented on #146
we got this now :-)

[2021-05-30 12:28] #146 closed

[2021-05-30 12:31] gao-sun commented on #87
@dawulf @bluemix i think a possible cause is i was using sync mode to execute some scripts, which may block the normal UI rendering. i'm trying to migrate them all to async mode.

[2021-05-30 12:41] gao-sun commented on #159
Catalina will crash for some reason. this works for Big Sur. feel free to re-open if you have any concerns.

[2021-05-30 12:41] #159 closed

[2021-05-30 15:22] gao-sun commented on #198
finally found a solution and i'm working on it. should be available tmw.

[2021-05-30 17:01] soewaiyanmyowin commented on #203
@gao-sun issue is updated .Thank you .pls check

[2021-05-31 05:59] chigarow commented on #198
waaw thanks a lot!! @gao-sun

[2021-05-31 10:56] gao-sun commented on #12
duplicate #198

[2021-05-31 10:56] #12 closed

[2021-05-31 14:04] 6ix-Raptors opened #206 "[feature request] Please add temp monitoring for M1 Macs"
So as of right now temp monitoring doesn't work on the millions of M1 Macs that would love to use eul. Please make it happen. Thanks

[2021-05-31 14:11] gao-sun commented on #206
sure. i'm waiting for the new pro model, will instantly buy it if they release it in WWDC

[2021-05-31 14:16] #86 closed

[2021-05-31 16:47] gao-sun commented on #198
please try the latest release (v1.5.20, homebrew pr Homebrew/homebrew-cask#106636). should be good now. lmk if it doesn't work

[2021-05-31 16:50] gao-sun commented on #203
thanks! will take a look soon

[2021-05-31 17:53] 6ix-Raptors commented on #206
Sounds great!

[2021-05-31 17:53] #206 closed

[2021-05-31 19:43] polarnox opened #207 "[feature request] CPU Icon Shows Architecture"
The option to have the CPU icon in menu bar show whether or not the current application in use is running natively or through Rosetta 2.

This feature would essentially replicate [Silicon Info](https://github.com/billycastelli/Silicon-Info).

[2021-06-01 05:44] xeron commented on #198
Seems like it select `lo0` if you don't have the VPN. Which gives 0KB/s most of the time.

[2021-06-02 03:12] chigarow commented on #198
hello @gao-sun
it has been works perfectly now
can close this issue

thankyouuu!!

[2021-06-02 03:23] gao-sun commented on #198
glad it works!

[2021-06-02 03:28] gao-sun commented on #198
@xeron i changed the way of active interface detection. maybe it causes another issue in your case. Will take a look tonight.

[2021-06-02 04:30] xeron commented on #198
Actually I can't reproduce this anymore… somehow it's fixed now and seems like it's using `en0`.

[2021-06-07 05:34] lazarvgd commented on #187
I am facing the same issue. Any fix for this in near future?

thanks

[2021-06-09 15:19] gao-sun commented on #198
@xeron glad to hear. i'll close this one then. feel free to re-open if you can reproduce

[2021-06-09 15:19] #198 closed

[2021-06-09 15:20] gao-sun commented on #207
this will be coooool.

[2021-06-09 15:22] gao-sun commented on #187
@lazarvgd yeah, i'm planning an issue-cleaning day this week.

[2021-06-09 23:06] TinQ0 opened #210 "[bug] Not working on MacOS Monterey"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

Sorry to bother you with this already, but yeah, I thought you would want to know.

**Describe the Bug**
Not working/showing anything on macos monterey

**Expected Behavior*
Show statusbar icon

**Screenshots**
Well, nothing to see...

**Context**
 - eul version: latest
 - macOS version: Monterey Beta 1
 - Device model: MBP

[2021-06-10 12:17] martimlobao opened #211 "[feature request] Show graph for Network and larger graphs on hover in dropdown"
iStat menus has a convenient graph for network activity, and you're also able to look at historic network activity data by hovering over the network section in the dropdown (same thing for CPU activity). This would be really nice to have in eul as well.

Graph in dropdown:
<img width="274" alt="Screen Shot 2021-06-10 at 13 14 04" src="https://user-images.githubusercontent.com/6430786/121523390-0fd

[2021-06-11 21:58] TinQ0 commented on #210
Nevermind, it se ms to be working flawlessly again. Apart from the gpu utilization bug, but that's what old news...

[2021-06-12 08:11] anaclumos commented on #157
Having the same problem with 5500M 8GB. Eul only shows the usage percentage. Any updates on this problem?

[2021-06-14 06:31] gao-sun commented on #210
glad it works! and sorry, still have no clue on the gpu issue. :-( i need some help.

[2021-06-14 06:31] #210 closed

[2021-06-14 06:32] gao-sun commented on #211
looks cool!

[2021-06-14 07:39] gao-sun commented on #118
close due to no clear context. let me know if you have future updates

[2021-06-14 07:39] #118 closed

[2021-06-14 07:41] gao-sun commented on #121
close due to no clear context. i optimized several performance issues recently. feel free to reopen it if you have updates. thanks

[2021-06-14 07:41] #121 closed

[2021-06-14 07:44] gao-sun commented on #197
close for housekeeping. feel free to re-open if the latest version doesn't help

[2021-06-14 07:44] #197 closed

[2021-06-14 07:51] #134 closed

[2021-06-14 07:52] gao-sun commented on #85
@arastu sorry. this shouldn't be closed before. please try v1.6. auto-detect is smarter now and you can manually choose network port to detect

[2021-06-14 08:02] gao-sun commented on #157
looks like this only happens in AMD GPUs. i need help 😭

[2021-06-14 11:43] arastu commented on #85
no problem @gao-sun, checked it out just now, it seems to be working fine. thanks again.

[2021-06-14 11:45] arastu commented on #85
No problem @gao-sun, I just checked it out and it seems to be working fine. Thanks again.

[2021-06-14 13:03] gao-sun opened #212 "v1.7"
- [ ] #48 Add cpu frequency related data
- [ ] #163 Export temperature/stats data into csv
- [ ] #190 Add swap memory display
- [ ] #194 Add disk activity widget
- [ ] #205 Bluetooth devices battery on menubar
- [ ] #207 CPU icon shows architecture
- [ ] #211 Show graph for Network and larger graphs on hover in dropdown

[2021-06-17 12:54] gao-sun opened #213 "Apple Silicon Compatibility"
Yes, I know it's the future.

My plan was to buy the new model instantly after WWDC, per the rumor said. And now Apple makes feel so awkward:

1. I will be like a fool if I buy a M1 Mac now and the new chip releases in the next 3 months.
2. Looks like Apple's confidentiality work has been improved recently, so there's no message about the release date from a "trustworthy leaker". All we know is "i

[2021-06-19 10:38] dhawan1997 opened #217 "[bug]"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

**Expected Behavior**
 When I double click on the zip file it shows the cross icon on the app. When I move it to the Application folder and try to open it. A pop up says 'You can’t open the application “eul” because it may be damaged or incomplete.'

**Screenshots**

<img width="260" alt="Screenshot 202

[2021-06-21 07:16] arastu commented on #87
@gao-sun This problem has sometimes occurred even in v1.6, The CPU usage has increased by 30% to 60% on my MacBook Pro (macOS 11.4, intel based).

[2021-06-23 02:10] AllenX-Li commented on #87
Same problem here occasionally happens on my Macbook Pro 2018

[2021-06-27 16:39] gao-sun commented on #217
would mind to take a look at #167 to see if it helps?

[2021-06-28 03:11] Yiyiyimu commented on #166
Hi @gao-sun maybe you could refer to this project
https://github.com/andreivdev/coolm1

[2021-07-02 07:14] Musa4161 commented on #166
Hello,

@gao-sun/eul ***@***.***> @gao-sun/eul
***@***.***>
@gao-sun/eul
***@***.***>
Yes, that would be really great as CoolM1 was made for M1 macs. Please try
to integrate the M1 temp monitoring features for the millions of M1 Macs
very eager to use eul to its fullest potential.

Thanks,

Musa

On Sun, 27 Jun 2021 at 23:11, Shuyang Wu ***@***.***> wrote:

[2021-07-02 07:40] gao-sun commented on #166
Thanks guys. Please see #213 for the awkward situation I'm facing. Promise that I'll do the compatibility job once the new model releases.

[2021-07-05 17:54] AlvinlolZ opened #218 "[bug]"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

Bluetooth battery level not showing in MacOS 12 Monterey public beta
**Expected Behavior**

Show Bluetooth device battery level
**Screenshots**

**Context**
 - eul version: 1.6.0
 - macOS version: 12.0 Beta (21A5268h)
 - Device model: MacBook Pro (13-inch, M1, 2020)

**Debug Output**

[code]

**Is Relat

[2021-07-05 17:59] AlvinlolZ commented on #218
![Screen Shot 2021-07-05 at 1 58 19 PM](https://user-images.githubusercontent.com/79394873/124506200-24ad3d00-dd99-11eb-90a7-b53ac3d63043.png)

[2021-07-06 04:41] AstralGoGod commented on #203
Bumping Issue, I also have this.

**Screenshots**

<img width="55" alt="Screen Shot 2021-07-06 at 12 41 10 AM" src="https://user-images.githubusercontent.com/78110294/124543238-e80e2f80-ddf2-11eb-91b2-3ddddcd87d1b.png">

**Context**
 - eul version: 1.6
 - macOS version: 11.4
 - Device model: MacBook Air (Retina, 13-inch, 2020)

[2021-07-06 04:42] AstralGoGod opened #219 "[bug] Disk Size Displays Twice"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

Disk Size Displays Twice; once for the HD and once for .timemachine.

**Expected Behavior**
 Disk Size Displays one time. Just the HD.

**Screenshots**

<img width="435" alt="Screen Shot 2021-07-06 at 12 34 20 AM" src="https://user-images.githubusercontent.com/78110294/124542726-ec861880-ddf1-11eb-9def-

[2021-07-09 17:30] #219 closed

[2021-07-12 00:41] daimajia opened #221 "[feature request] Weather support"
Is there is any plan to support weather information?

![图片](https://user-images.githubusercontent.com/2503423/125215109-fa093a00-e2ec-11eb-89c0-0f7ce221054a.png)

[2021-07-12 09:19] 5Kal opened #222 "[good first issue][question][help wanted]"
<h3> I need help downloading widgets </h3>

<body>
Hi there,
Can somebody tell me how to download widgets cause I don't really know what to do now.
</body>

[2021-07-19 15:09] gao-sun commented on #221
will try

[2021-07-19 15:10] gao-sun commented on #222
no need for download. you need at least macOS Big Sur to see those widgets

[2021-07-21 13:51] samnang opened #223 "[feature request] Show Public and Local IP Addressed under Network"
Similar to iStat Menu, they show both Public and Local IP Addresses. It's a quick and useful to access those infos sometime.

![image](https://user-images.githubusercontent.com/131172/126499973-6a59f2c7-9591-488b-a120-ead1cccc3524.png)

[2021-07-25 08:26] gao-sun commented on #223
sounds coool

[2021-07-26 08:24] YiquanGu commented on #213
Is it a M1 compatibility issue that the network speeds don't seem to be accurate? Thanks for the elegant app.

[2021-08-02 17:30] soer7022 commented on #87
Also happens on my MacBook Pro 2016 15"

[2021-08-05 03:26] gao-sun commented on #213
@YiquanGu I don't think so. You can file an issue if needed.

[2021-08-05 12:27] YiquanGu opened #226 "[bug] erroneous download speed"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

M1 Mac Big Sur USB tethered with an Android 5G phone using HoRNDIS.  Download speed is as expected (~200Mbps) but EUL reports 0. Reported upload speed appears correct.

**Expected Behavior**

Correctly reporting current download speed.

**Screenshots**
Download speed is reported as the the *second* numb

[2021-08-07 11:52] gao-sun commented on #222
close for housekeeping. feel free to re-open if you need future helps.

[2021-08-07 11:52] #222 closed

[2021-08-07 11:52] gao-sun commented on #226
thanks, will take a look

[2021-08-07 11:54] gao-sun commented on #226
actually would you mind to take a look at "network" section to see if auto detection is correct?
![image](https://user-images.githubusercontent.com/14722250/128599239-9e4ddf4e-ca2a-4d9b-ba49-14ec951d13e7.png)

[2021-08-07 14:38] YiquanGu commented on #226
Thanks for looking into this! I can confirm that auto detection returns correct result of the tethered USB connection "en9".

[2021-08-19 20:10] romanhaa opened #227 "[bug] Memory is not always shown correctly (MB instead of GB)"
Hi! I noticed a minor, pretty straightforward bug: In the memory usage panel, it appears that two digit GB quantities of memory are incorrectly labeled as MB but internally sorted correctly:

![Screenshot 2021-08-06 at 10 26 42](https://user-images.githubusercontent.com/18103560/130136680-97fbf783-cfee-428f-bf55-3abc867f7787.png)

Running eul v1.6.2 on macOS 11.4.

[2021-08-21 12:45] gao-sun commented on #227
thanks for reporting, will fix it soon

[2021-08-21 12:47] gao-sun commented on #226
interesting. will try to connect a phone and see if the speed is correct

[2021-08-21 12:50] gao-sun commented on #87
i noticed this issue as well, but i cannot stably reproduce. :headache: i'm going to open Xcode, start debugging and wait for awhile until the cpu usage is getting higher. or it'll be great that someone can provide a way to reproduce.

[2021-08-23 06:00] osh123 commented on #87
@gao-sun eul is getting 100% in my system right from the start, all the time. If you need help in debugging this, ping me

[2021-08-25 08:29] strfn commented on #87
+1 have to stop using Eul for the same reason unfortunately.

[2021-09-12 04:46] thebadpete commented on #87
For me it always happens regardless of versions, always 100% cpu from activity monitor. I am not a Mac developer but I would like to help (I have XCode), please let me know

[2021-09-14 17:27] gao-sun commented on #87
@osh123 @thebadpete thanks for willing to help. i need either a way to stably reproduce or some debug info. one thing you can do is

1. clone this project
2. open xcode and wait for dependency tasks are done
3. click the "play button" in the top left corner to build and run eul
<img width="120" src="https://user-images.githubusercontent.com/14722250/133304007-8afe8b6f-0c15-4fe7-990b-583e8f5aa2c4.p

[2021-09-23 02:27] gao-sun commented on #130
![image](https://user-images.githubusercontent.com/14722250/134446419-a75d7e08-5dc7-4a2b-90c0-10076edfb43f.png)

[2021-10-20 17:41] MusaAqeel opened #228 "[M1 + M1 Pro. + M1 Max]"
Please develop a version that will work with Apple Silicon. The temperature monitoring does not work with my M1 mac, it will probably not working with the new Pro devices. If you search "Coolm1" on github you can see a project that just has the temp monitoring, but without any of the other features of eul. It would be great if this version can be dev. Thanks for your time

[2021-10-20 19:48] jevonmao commented on #228
The Coolm1 repo you mentioned seems to be just a wrapper on top of https://github.com/fermion-star/apple_sensors should not be too hard to fully support Apple Silicon, as long as solution exist for interfacing with lower level system stuff like that library.

[2021-11-02 07:56] SnowsonZ opened #230 "菜单栏字体"
<img width="200" alt="image" src="https://user-images.githubusercontent.com/12555482/139807189-43ea29f6-c133-4701-b531-e16175f1006e.png">

如图，菜单栏字体过小，不容易辨识，期望下个版本能加粗，加大，或者自定义字体？哈哈哈~

[2021-11-07 19:32] naymapl commented on #228
Hi. Any news about M1 machines ? I use rhis app on macbook pro with intel and everything runing perfect. I have Fan speed, all sensors and CPU temp. On M1 mac mini no fan speed, no gpu, no other temp sensor. I love your app - is simple end well design but not working with nem amr64 processors and machines. Any chance to update this app ??

[2021-11-07 20:19] naymapl commented on #166
Hi - on mac mini m1 have this same issue - Precentage of CPU working well but is none temp sensor data for CPU. This same is missing all data for GPU and missing Fan speed. Hope so @gao-sun will fix this soon. I love this app. Its simple, small and well design.

[2021-11-13 17:49] Junyi-99 opened #232 "[bug] Cannot detect the temperature of AMD Radeon 5300M"
**Describe the Bug**
eul cannot detect the temperature of my AMD Radeon 5300M.

**Expected Behavior**
It should be detected

**Screenshots**
![image](https://user-images.githubusercontent.com/14367694/141653870-c2c41cfb-c2cc-4a0d-80f7-09a07e3111d7.png)

**Context**
 - eul version:`1.6.2`
 - macOS version: `12.0.1 (21A559)`
 - Device model: `MacBook Pro (16-inch, 2019) AMD Radeon Pro 5300M 4 GB`

[2021-11-16 00:47] bnice opened #233 "Graph of network activity"
Hi,

It would be nice to have the option of showing a graph for network activity.

Regards,

Ben.

[2021-11-16 23:59] Alpheron opened #234 "[feature request] Fan Control from Eul"
<h3>Make sure there's no open issue for the same request before submit.</h3>

Currently, Eul serves as an app to monitor the entire Mac including detailed statistics about almost every aspect. However, including fan control options as a part of Eul would allow one to use Eul completely without relying on Macs Fan Control or any other external software.

[2021-11-18 03:08] Tatsh commented on #56
The biggest thing keeping me from switching is lack of colour. MenuMeters has nice colour options and I don't think it looks 'bad' even with modern UI around it. Apple isn't perfect either as they place a coloured flag for IME switching.

<img width="189" alt="com ragingmenace MenuMeterCPU-2021-11-17 22-07-01" src="https://user-images.githubusercontent.com/724848/142344656-360e40d0-8569-4a9c-80ac-

[2021-11-20 17:20] RainThinks commented on #149
same here.

[2021-11-20 17:21] RainThinks commented on #149
Same here.

I'm only enabled network widget in menu, still force hidden by system.

[2021-11-27 20:27] asyba commented on #228
any news?

[2021-11-28 02:37] gao-sun commented on #228
just got my M1 Pro laptop, will do it in few days

[2021-11-28 02:38] gao-sun commented on #230
Please follow the guideline for issues. I'll close this one for house-keeping purpose.

[2021-11-28 02:38] #230 closed

[2021-11-28 02:39] gao-sun commented on #213
Just got my M1 Pro MacBook, will try to do it in few days.

[2021-11-29 04:36] 6ix-Raptors commented on #228
Amazing! I am very excited, and oh enjoy that beast.

[2021-12-01 08:24] caobo opened #235 "[feature request] CPU usage of each cores"
<h3>Is it possible to show the cpu usage per core as in istat menus</h3>

It's a great app ^_^
and it would be better if it shows the cpu usage per core, since we all have multi-core cpus nowadays.

[2021-12-02 03:23] shineshane opened #236 "[bug] widgets' theme not follow eul's preference"
**Describe the Bug**
My macOS's theme is light, so when I download eul threw homebrew, eul's theme is light too.
I add some eul's widgets with light theme.
**When I change eul's theme to dark**, menu bar's theme change correctly, **but eul's widget still in light**.

**Expected Behavior**
Widgets should changet to dark theme with eul's preference

**Screenshots**
![image](https://user-images.githu

[2021-12-02 03:49] shineshane commented on #87
+1
And sometimes eul will quit in slience on my mac.

[2021-12-02 04:09] thebadpete commented on #87
Sorry @gao-sun I totally missed your message, but I would like to report that eul seems to behave fine on MacOS to Monterey (12.0.1)! No more 100% CPU! I recently upgraded my MacOS, and I tried eul again (version v1.6.2). It is the same binary that exhibited issues on MacOS Big Sur.

Just some happy data point to report. For those who had the same 100% CPU issue, give MacOS Monterey a try!

[2021-12-02 08:42] naymapl commented on #228
We waiting for m1 version 🥇

[2021-12-05 17:41] Junyi-99 commented on #232
I think this problem is in the SMC controller

[2021-12-06 02:00] betterlmy commented on #236
作者说要更新适配arm，已经很久没有消息了

[2021-12-06 02:55] 6ix-Raptors commented on #228
So excited for eul for M1! Its so hard to wait but Its gonna be worth the wait!!

[2021-12-09 12:44] naymapl commented on #228
Hello - any news about arm64 version ?

[2021-12-09 15:15] henjue commented on #228
We waiting for m1 version 🥇

[2021-12-10 00:25] 6ix-Raptors commented on #228
So excited for the M1 version!!

[2021-12-10 08:29] shuangwei-Ye commented on #228
have new version ?

[2021-12-10 15:09] 6ix-Raptors commented on #228
Not yet, still waiting...

[2021-12-12 22:51] 6ix-Raptors commented on #228
Can you please give us an idea of when Eul for Apple Silicon will be available? Thanks :)

[2021-12-20 18:28] 6ix-Raptors commented on #228
Take your time but we are very eager to get that Silicon version!

[2021-12-20 18:29] naymapl commented on #228
@gao-sun 3 weeks gone and any info from you ? Are you ok ? Thank you so much for any details. Many people waiting for this app :D

[2021-12-21 23:54] 6ix-Raptors commented on #228
Honestly just take your time but I just want to know if your doing ok! Haven't heard from you in a while.

[2021-12-23 19:20] ndelvalle opened #237 "Network activity is not being shown"
For some reason, the network activity is not being shown. It is always set to 0.0 kb/s.

<img width="382" alt="Screen Shot 2021-12-23 at 16 15 32" src="https://user-images.githubusercontent.com/6719053/147283261-2198ca54-073a-42d3-9790-a7cf98cad295.png">

**Context**
 - eul version: v1.2.3
 - macOS version: macOS Monterrey v12.0.1
 - Device model: MacBook Pro (14-inch, 2021), Apple M1 Pro.

**Debu

[2021-12-26 06:31] betterlmy commented on #212
How's the progress? it's going to be the Spring Festival.

[2021-12-28 21:11] Tanche-Z commented on #237
Same on M1 max. The network status doesn't update, always shown as 0 kb/s.

[2021-12-29 00:18] Tanche-Z commented on #237
May work in the version from homebrew or github release, but not from App store.

[2022-01-06 07:55] gao-sun commented on #237
Looks like you are using the App Store version (v1.2.3) that is too old. :-) App Store uses a sandbox which isolates the real env thus we cannot capture the network traffic down there. Please use the app from GitHub or HomeBrew. Thanks.

[2022-01-06 07:55] #237 closed

[2022-01-06 07:55] gao-sun commented on #235
thanks, great idea

[2022-01-06 07:57] gao-sun commented on #236
i've got the same model as yours, will try to fix this.

[2022-01-06 18:08] ndelvalle commented on #237
@gao-sun perfect, installed from brew and now everything works correctly.
Thanks and great app! <3

[2022-01-10 12:53] d3rt commented on #232
same here.

[2022-01-10 17:04] MusaAqeel commented on #228
Will there be an M1 + M1 Pro + M1 Max version any time soon @gao-sun? If so we are all very eager to use it!

[2022-01-12 11:52] Universumgames opened #240 "CPU Usage pretty high on M1 Mac"
It's not really a bug, but more an annoyance. The CPU usage of eul on my M1 Pro is pretty high with idling around 100% in the Activity Monitor (probably taking one full efficiency core?).

**Screenshots**
<img width="1113" alt="Screenshot 2022-01-12 at 12 53 02" src="https://user-images.githubusercontent.com/35143496/149135629-6ca9a10f-95e7-46ba-a17b-91a3b9bed8c1.png">

**Context**
 - eul version:

[2022-01-12 14:26] Universumgames commented on #240
Update to cpu usage after apparently 6 hours (CPU time) or rather 3 hours realtime...

<img width="1097" alt="Screenshot 2022-01-12 at 15 24 31" src="https://user-images.githubusercontent.com/35143496/149158408-323c5f4c-ccae-42ce-b201-610504ad6013.png">

[2022-01-12 14:28] Universumgames commented on #240
quitting and reopening the application decreases the CPU usage down to <5% when the menu is open and disappears from the first "page" ~20 entries when the menu is closed ( <1% CPU usage)

[2022-01-14 08:10] MusaAqeel commented on #240
It is not optimized for any Apple Silicon devices. We have been waiting since @gao-sun has gotten a new Pro machine but he has not done so yet, but we are all hoping for an M1 version soon!

[2022-01-14 08:12] gao-sun commented on #240
I'm working on it. Will publish a new version once complete.

[2022-01-14 08:12] MusaAqeel commented on #213
Please do so, thanks

[2022-01-20 02:51] MusaAqeel commented on #228
You alive @gao-sun? I understand if your busy just please give us an update. Thanks.

[2022-01-20 02:59] gao-sun commented on #228
I'm alive. Sorry I was mainly working on my startup these days and having a cold in the past week.

Xcode has been downloaded on my M1 laptop and now I'm picking up my Swift knowledge and inspect the broken parts - I'll open a PR soon to let you guys know the progress. Thanks for waiting.

[2022-01-23 07:24] gao-sun commented on #213
working on it

[2022-01-25 09:26] ygg-musthafa commented on #166
Hi, It's been a year since the issue was open. Any Updates on this. Eul is the only elegant status monitoring app I could find. I have used this app in intel mac for some time. If it also works similarly in m1 mac it will help so many people. Please Update this issue.

[2022-01-29 09:49] naymapl commented on #228
Hey @gao-sun hope so you will find some time to fix all this issues and compiling app for Apple Silicon. Good luck and all the best for you.

[2022-01-29 09:52] gao-sun commented on #228
yeah I'm working on the sensors but I just have limited time on this (weekends) so I can't give you the exact timeline. Meanwhile you can try [stats](https://github.com/exelban/stats) as the author is actively contributing to the project.

[2022-01-29 10:13] naymapl commented on #228
@gao-sun I use allready stat app but your looks much better for me - I like your design and icons - all looks nice. In Stat app can`t use to much colors and no option to set up icons for CPU or RAm or GPU like in your app

<img width="408" alt="Zrzut ekranu 2022-01-29 o 11 12 42" src="https://user-images.githubusercontent.com/24625283/151657039-7889f1bb-eb24-48ca-a638-b45fa9b3063c.png">

[2022-01-29 10:16] gao-sun commented on #228
@naymapl thank you! I've opened a PR for M1 compatibility work. You can follow the status there. Cheers.

[2022-02-06 03:29] forresthopkinsa commented on #76
Still seeing serious energy inefficiency problems in 1.6.2.
<img width="828" alt="image" src="https://user-images.githubusercontent.com/4433153/152666692-4ffc0357-ae07-41a1-9656-019169df4aa5.png">

[2022-02-13 16:04] betterlmy commented on #213
大佬 how it going?

[2022-02-16 06:51] MusaAqeel commented on #240
Excited!

[2022-02-16 06:52] MusaAqeel commented on #228
Thank you and i'm glad to know your doing alright!

[2022-02-17 15:04] alexander-potemkin commented on #240
Thank you! I just discovered the app, amazed, but then found it eat like 1-2 cores of my M1, so had to shut it down for now.
Hope it will be an easy transition!

And by the way, is there any way I can buy you a cup of coffee or support you in some other way?

[2022-02-22 18:56] xeron commented on #240
I don't think it's an M1 issue. I saw this happening on Intel Mac as well. Restart of EUL usually fixed it for a while.

[2022-02-22 20:46] alexander-potemkin commented on #240
To support this thesis, on M1 it doesn’t start eating the processor immediately after the start.

[2022-03-04 01:35] wasokeli opened #242 "[feature request] "Show GPU top activities" in the Menu View"
You can get GPU time per-process with this command:
[code]

[2022-03-04 09:01] gao-sun opened #243 "Seek for maintainers"
Guys,

I was trying to do the compatibility work of Apple Silicon but found it's not easy. I need to find those SMC keys and rewrite the utility.

My startup is taking all of my time and draining my daily energy. I would love to resolve the issues and make new cool features, but as a perfectionist, it becomes hard for me to maintain eul. Meanwhile, you can try [stats](https://github.com/exelban/st

[2022-03-04 09:02] gao-sun commented on #242
please see #243

[2022-03-04 09:02] gao-sun commented on #240
please see #243

[2022-03-04 09:02] gao-sun commented on #232
please see #243

[2022-03-04 09:02] gao-sun commented on #228
please see #243

[2022-03-04 09:50] Junyi-99 commented on #232
@gao-sun I used to be the maintainer of [stats](https://github.com/exelban/stats) and helped stats to solve the problem of AMD-5300M temperature issue, I think I can also help to maintain eul, because eul is a very elegant program.

[2022-03-04 10:11] alexander-potemkin commented on #240
Thanks for letting know!

[2022-03-10 20:04] wasokeli commented on #243
Thank you for all your work on this excellent program. I'll switch to Stats if I'm unable to use eul, but in the meantime, I like eul better. I'll continue to file bugs and feature requests for the sake of any future maintainers.

[2022-03-10 22:57] MusaAqeel commented on #228
@gao-sun Thanks for letting us know. I wish the best for your startup.

[2022-03-10 22:57] #228 closed

[2022-03-25 20:15] mjhipp commented on #76
Also having issues with energy in 1.6.2. Am forced to stop using this tool altogether sadly. Fluctuating between 60-80% and preventing my battery from charging (at 85% battery health).

![Screen Shot 2022-03-25 at 1 12 56 PM](https://user-images.githubusercontent.com/19941609/160194627-52b900f5-7f97-4ae6-b090-34b29e3161f9.png)

[2022-03-28 03:15] thinker007 opened #244 "[bug]macbook 16 m1 pro cpu temperature can not show up"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
no temperature show up
**Expected Behavior**
show cpu temperature
**Screenshots**
![image](https://user-images.githubusercontent.com/1329869/160320333-7787b9ff-192b-4873-9110-e1392382b399.png)

**Context**
 - eul version:v1.6.2
 - macOS version:12.4
 - Device model: macbook pro 16 m1 pro

**Debug Output*

[2022-03-28 04:00] lydd2024 opened #245 "[feature request] high cpu usage on intel"
<img width="505" alt="cpuinfo" src="https://user-images.githubusercontent.com/34502392/160323814-601042f8-b2de-433b-9a0a-45a202820095.png">
i only choose cpu info on the top,  cpu taking up 50% - 60%，the problem remains change flush rate 1s to 5s。it would be nice to keep it under 10% .
MacBook Pro (13-inch, 2020, Four Thunderbolt 3 ports)
i5
macos 11.5.2

[2022-04-04 06:02] ackness opened #246 "[bug] appearance change bug"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

When changing the appearance, the appearance of the window gets the wrong color.

**Expected Behavior**

half dark half white

**Screenshots**

![](https://tva1.sinaimg.cn/large/e6c9d24ely1h0xndxp4l4j20xc0u0jsm.jpg)

**Context**
 - eul version: 1.6.2
 - macOS version: 12.3.1 (21E258)
 - Device model: Ma

[2022-04-05 10:52] Mandule commented on #244
i get the same issue

[2022-04-06 08:21] StillNotYet commented on #244
+1

[2022-04-08 01:43] marchanbbb commented on #244
i get the same issue
Device model: macbook pro 14 m1 pro

[2022-05-02 08:12] caochun commented on #244
Mr. Gao has no M1 devices.

[2022-05-04 06:12] NingyuanBi commented on #87
Dear developer:
As the pic shows, this is what happened on my MacBook Pro
<img width="1440" alt="eul" src="https://user-images.githubusercontent.com/85839659/166630309-49e82be5-39c6-450c-b456-15d4b45ff42d.png">

MacBook Pro (13-inch, 2017)
CPU: Intel Core i5-7267U
System Info: macOS Monterey 12.3.1

[2022-05-08 06:31] change2hao commented on #244
i get the same issue
Device model: macbook pro 16 m1 pro

[2022-05-12 04:02] Dasl1412 commented on #244
i get the same issue
Device model: macbook pro 14 m1 pro

[2022-05-19 09:02] fxxhuang commented on #244
I get the same issue
Device model: MacBook Air m1(2020)

[2022-06-03 02:45] Mudflapper commented on #244
Same here, M1 Air 2020.

[2022-06-07 07:13] gyana-techy-ios commented on #166
Not able to get CPU temperature in M1 chip system.

[2022-06-07 17:16] ryiot commented on #244
Same here, M1 Air 2020.

[2022-06-07 19:01] hitblast commented on #243
The app itself is really awesome. Hope to see future improvements amidst the intense workload you might be going through. Wishing you luck! @gao-sun

[2022-06-25 03:21] sheiy opened #247 "[bug]Launch at login not work"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**
Launch at login not work

**Expected Behavior**
work will

**Screenshots**

**Context**
 - eul version: 1.6.2
 - macOS version: 12.4 (21F79)
 - Device model: M1

**Debug Output**

Can't see any error

[code]

**Is Related to a Crash?**

[2022-06-28 08:44] manba024 opened #248 "The same task, the fuselage is obviously hot after turning on the eul"
The same task, the fuselage is obviously hot after turning on the eul

eul version: 1.6.2
macOS version: 12.3.1
Device model: MacBook Air 2020

[2022-07-06 16:02] nooice98 commented on #244
+1, mbp 14 m1 pro

[2022-07-08 21:10] shameelfazul commented on #244
same here.

EDIT: for temp, I used this https://github.com/macmade/Hot instead.

[2022-08-03 09:11] ObesityChow commented on #244
I get the same issue
Device model: Macbook Pro 16 inch 2021 M1 Max

[2022-08-21 18:01] Rob-Syndic opened #249 "GUI shows incorrect (inverse?) battery health"
**Describe the Bug**
GUI shows 2% health while MacOS System Report shows 97%.

**Expected Behavior**
Should be at least in the same ballpark as the MacOS results

**Screenshots**
GUI:
<img width="345" alt="Screen Shot 2022-08-21 at 1 46 18 PM" src="https://user-images.githubusercontent.com/6323766/185804309-47efdb09-1095-4c7e-8dba-dc56632b4410.png">

Apple sys report:
<img width="210" alt="Screen

[2022-08-26 07:49] Rizzy42 commented on #157
Are there any updates on this? Eul's great but this is the only issue that has me still using Stats 😭

[2022-08-29 09:10] Fizz-pop-bang opened #250 "[bug] Incorrect disk usage"
Incorrect disk usage showing in menu bar.
For example, EUL is showing 323Gb free, but Finder is showing 428Gb free

**Screenshots**
<img width="1290" alt="Screenshot 2022-08-29 at 10 02 26" src="https://user-images.githubusercontent.com/70315800/187165394-5c67546c-11d9-4d94-86f9-9049cb3f7369.png">

**Context**
 - eul version: 1.6.2
 - macOS version: 12.5.1
 - Device model: MacBook Pro (16-inch, 20

[2022-10-12 06:23] yanlongliang opened #252 "."

[2022-10-12 06:24] yanlongliang commented on #252
macOS version:12.6

[2022-10-12 06:43] yanlongliang commented on #252
，

[2022-10-25 20:18] neseleznev opened #253 "[bug] Widgets fail on macOS Ventura"
**Describe the Bug**
Widgets fail after upgrading to macOS Ventura 13.0

**Screenshots**
<img width="425" alt="image" src="https://user-images.githubusercontent.com/6990568/197872711-f0a13fd9-473e-40a1-9c29-07b98dac6b8b.png">

**Context**
 - eul version: `1.6.2`, latest published on GitHub
 - macOS version: 13.0 Ventura
 - Device model: MBP 16" M1 Max `YX23LFH402`

**Debug Output**
`/Applications/

[2022-10-29 19:38] JuliaAgostino commented on #253
After updating to macOS Ventura, I ran into the same issue as you. I love EUL's widgets, so I hope that somebody is willing to fix them soon!

[2022-10-30 02:56] DevLiuSir opened #254 "[feature request]"
You can consider joining the battery to add factory date information
Similar to the battery assembly in istat menus!
![image](https://user-images.githubusercontent.com/11488337/198860469-e8c7cd15-88c0-4eba-a5df-a78f7ed2e479.jpeg)

[2022-11-04 19:38] bitigchi opened #255 "[bug] Build failure with Xcode 14.1"
<h3>Make sure there's no open issue for the same bug before submit.</h3>

**Describe the Bug**

Cannot build the latest git on Xcode 14.1. App launches, but immediately crashes.

**Context**
 - eul version: Git
 - macOS version: 13.0
 - Device model: MBP 2018

**Debug Output**
[code]

[2022-11-16 10:26] weeheavy commented on #245
Even worse here with a MacBook Pro 13-inch, 2018, macOS 12.6.1 (21G217)
![Screenshot 2022-11-16 at 11 25 18](https://user-images.githubusercontent.com/10529620/202155637-a5f700b3-62e0-4054-b487-b29453d8fbeb.png)

[2022-11-28 12:51] iopass4 commented on #244
I get the same issue
Device model: Macbook Pro 13-inch, M1, 2020

[2022-11-28 12:51] ObesityChow commented on #244
Mail delivered and will be read soon. Thank you for reaching out to me.